{% extends "base.html" %}

{% block title %}{{ profile.user }}{% endblock %}

{% block content %}

<h1>{{ profile.user }}</h1>

{% for photo in profile.user.photos.all %}
<a href="{{ photo.photo.url }}" title="{{ photo.title }}">{{ photo.photo.thumbnail_tag }}</a>
{% endfor %}
<p><a href="/photos/upload/">Upload a photo!</a></p>

<div id="animal_passport">
	<h2>Animal Passport</h2>	
	<ol>
	{% for species in profile.passport.seen_species %}
		<li>{{ species.count }}&times; {{ species }}</li>
	{% endfor %}
	</ol>
</div>

<div id="my_trips">
	<h2>My Trips</h2>
	<ol>
	{% for trip in profile.user.trips.all %}
		<li>
			<p>During {{ trip }} on {{ trip.start|date:"jS F Y" }} you saw</p>
			<ul>
			{% for species in trip.sightings.all %}
				<li>{{ species.common_name }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ol>
</div>

{% endblock %}