{% extends base %}

{% load favourites_extras %}
{% load thumbnail %}
{% load zoocommon %}

{% block title %}{{ profile.user|title }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/gallery.js"></script>
{% endblock %}

{% block primary_content %}

<h1>{{ profile.user|title }}{% if profile.user.get_full_name %} ({{ profile.user.get_full_name }}){% endif %}</h1>
{% if profile.badges.all %}
<ul class="badges">{{ profile.badges.all|unordered_list }}</ul>
{% endif %}

{% ifequal profile.user user %}
<p><a class="edit" href="{% url accounts-profile-edit profile.user %}">Edit your profile</a> |
{% if profile.location %}
Your location is currently <a class="edit" href="/set-location/">{{ profile.location }}</a>
{% else %}
<a class="edit" href="/set-location/">Set your location</a> to find animals near you
{% endif %}
</p>
{% endifequal %}

<p><img src="/static/img/engagementbadge/monkey.png" class="pull-left">{% ifequal profile.user user %}You{% else %}They{% endifequal %} have an engagement score of <strong>{{ profile.percentage_complete }}</strong>, making {% ifequal profile.user user %}you{% else %}them{% endifequal %} a <strong>helpful macaque</strong>.{% ifequal profile.user user %} To increase this, try adding more photos, commenting on places or animals and generally getting more stuck into the site.{% endifequal %}</p>

<div>
{% if profile.url %}
<p class="url"><a href="{{ profile.url }}">&raquo; {% ifequal profile.user user %}Your website{% else %}Visit their website{% endifequal %}</a></p>
{% endif %}

{% if profile.biography %}
<h2>{% ifequal profile.user user %}Your{% else %}Their{% endifequal %} Biography</h2>
{{ profile.biography|linebreaks}}
{% else %}
{% ifequal profile.user user %}
<p>You don&rsquo;t seem to have filled in your biography yet, so why not <a href='{% url accounts-profile-edit profile.user %}'>do that now</a> and tell us a bit about yourself?</p>
{% else %}
{% endifequal %}
{% endif %}
</div>

<div>
	<h2>{% ifequal profile.user user %}Your{% else %}{{ profile.user|title }}&rsquo;s{% endifequal %} Most Recent Trips</h2>
    	{% ifequal profile.user user %}
    	<form action="/add-trip/" method="GET">
    	    <div class="container">
    	        <label for="search-place">Add a trip to...</label>
    	        <input type="search" name="q" id="search-place">
    	        <input type="submit" value="Go" class="submit">
    	    </div>
    	</form>
        {% endifequal %}
	{% if profile.user.created_trip_set.all %}
	<ol>
	{% for trip in profile.user.created_trip_set.all|slice:":5" %}
		<li><a href="{% url trip-view profile.user, trip.id %}">{{ trip.title }}</a> ({{ trip.species.count }} sighting{{ trip.species.count|pluralize }})</li>
	{% endfor %}
	</ol>
	<p><a href="{% url tripbook profile.user %}">Show all {% ifequal profile.user user %}your{% else %}their{% endifequal %} trips</a>.</p>

	{% else %}
	<p>
		{% ifequal profile.user user %}You{% else %}They{% endifequal %} haven&rsquo;t been anywhere yet.
	</p>
	{% endif %}
</div>

<div>
	<h2>Animals {% ifequal profile.user user %}you{% else %}they{% endifequal %}'ve seen</h2>
	<p>
	{% ifequal profile.user user %}
	Add more by <a href="{% url search %}" title="Look for something">finding a place you've spotted animals</a>, and then on its page tell us the animals you saw.
	{% endifequal %}
	{% if profile.passport.seen_species %}
        </p>
	<ol class='animal-list'>
	{% for species in profile.passport.seen_species %}
                <li>
                        <div class="thumb-75">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
                        <p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a> <span class="meta">(spotted {{ species.sightings.all.count|oncetimes }})</span></p>
                        <p><i class="scientific">{{ species.latin_name }}</i></p>
                </li>
	{% endfor %}
	</ol>
	{% comment %}
	{% ifequal profile.user user %}
	<p>If you've told us that an animal lives at a place &mdash; say because you've checked their website or read a news story about it &mdash; but haven't actually been there, it won&rsquo;t appear here.</p>
	{% endifequal %}
	{% endcomment %}
	<p>
	{% else %}
		{% ifequal profile.user user %}Tt seems you {% else %}They {% endifequal %}haven&rsquo;t spotted any {% ifequal profile.user user %}animals {% endifequal %}yet.
	</p>
	{% endif %}
</div>

{% endblock %}

{% block secondary_content %}

<div><p>{{ profile.avatar_img }}</p></div>

<div>
	{% if profile.user.favourite_species.all %}
	<h2>{% ifequal profile.user user %}Your{% else %}Their{% endifequal %} Favourite Animals</h2>
	<ol class="animal-list">
                {% for favourite in profile.user.favourite_species.all %}
                <li>
                        <div class="thumb-75">{% with favourite.species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
                        <p><a class="animal-name" href="{{ favourite.species.urls.absolute }}">{{ favourite.species.common_name }}</a></p>
                        <p><i class="scientific">{{ favourite.species.latin_name }}</i></p>
                        {% ifequal user profile.user %}
            		{% favourite_toggler "remove" favourite.species.slug request.path "link" "" "Remove" %}
            		{% endifequal %}
                </li>
        	{% endfor %}
	</ol>
	{% ifequal profile.user user %}
	<p>To add more to this list, <a href="{% url search %}" title="Look for something">find some animals you like</a>, and mark them as favourites.</p>
	{% endifequal %}
	{% else %}
	{% ifequal profile.user user %}
	<p>You don&rsquo;t have any favourite animals yet. Why don't you <a href="{% url search %}" title="Look for something">find some animals you like</a>, and mark them as favourites?</p>
	{% endifequal %}
	{% endif %}
</div>

<div>
        {% with photos.count as visible_photo_count %}
        	{% if visible_photo_count %}
                        <h2>{% ifequal profile.user user %}Your{% else %}Their{% endifequal %} Photos</h2>
        		{% ifequal visible_photo_count 1 %}{# Only one photo #}
        			<div class="gallery">
        			{% for photo in photos.all %}
        				<a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 150x1000 %}"></a>
        			{% endfor %}
        			</div>
        		{% else %}{# More than one photo #}
        		{% with photos.all|first as chosen %}
        		<div class="gallery">
                		<a href="{% url photo chosen.created_by.username,chosen.id %}"><img src="{% thumbnail chosen.photo 150x1000 %}"></a>
                		<div class="slideshow">
                			<ul id="thumbnails">
        			                {% for photo in photos.all|slice:":30" %}
        			                {% ifnotequal chosen photo %}
                		                <li><a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 75x75 crop %}"></a></li>
                		                {% endifnotequal %}
        			                {% endfor %}
        			        </ul><!-- /#thumbnails -->
        		        </div><!-- /.slideshow -->
                	        <p><a href='{% url accounts-profile-photos profile.user.username %}'>See all {% ifequal user profile.user %}your{% else %}their {% endifequal %} photos.</a></p>
        	        </div>
        	        {% endwith %}
        		{% endifequal %}
        	{% else %}
        	        {% ifequal profile.user user %}
        	                <h2>Your Photos</h2>
                        {% endifequal %}
        	{% endif %}
        {% endwith %}
        {% ifequal profile.user user %}<p><a href="{% url upload-photos %}">Upload a photo!</a></p>{% endifequal %}
</div>

{% if profile.user.comment_comments.all %}
        <div>
                <h2>{% ifequal profile.user user %}Your{% else %}{{ profile.user|title }}&rsquo;s{% endifequal %} Comments</h2>
                <ul class="comments">
                {% for comment in profile.user.comment_comments.all %}
                	<blockquote><p>{{ comment.comment|linebreaks }}</p></blockquote>
                	<p class="posted-by">
                	<img src="{% url profile-image-resized profile.user.username %}" alt="" height="30" width="30">
                        on <a href="{{ comment.content_object.urls.absolute }}#c{{ comment.id }}">{{ comment.content_object }}</a><span class="meta">at {{ comment.submit_date|date:"jS F Y H:i" }}</span></p>
                {% endfor %}
                </ul>
        </div>
{% endif %}

{% endblock %}
