{% extends base %}

{% block title %}Edit your profile{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/swf/swfobject/swfobject.js"></script>
{% endblock %}

{% block content %}
<h1>{{ profile.user.username }} - edit profile</h1>

<h2>Avatar</h2>

<p>Your avatar is shown whenever you crop up around the site.</p>

<div id="flashMovie">We're really sorry, but you can't edit your avatar without having both Flash and Javascript installed and enabled in your browser.</div>

<script type="text/javascript">
	var so = new SWFObject(
		"/static/swf/profilepicture.swf", "flashMovie", 470, 470, 9,
		"#e2f1f9"
	);
	so.addParam("quality", "high");
	so.addVariable("profile_xml", "/faces/profile.xml");
	so.addVariable("profile_images_xml", "/faces/profile-images.xml");
	so.addVariable("profile_update", "/faces/update/");
	so.useExpressInstall("/static/swf/swfobject/expressinstall.swf");
	so.write("flashMovie");
</script>

<h2>Other details</h2>

<form action="{{ path }}" method="post">
{{ profile_form.as_p }}
{{ user_form.as_p }}
<input type="submit" name="submit" value="Submit changes">
</form>

{% endblock %}
