{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Thank you</h1><p class="intro"> Thank you so much for choosing to register, you're nearly there we've got just one last bit we need you to do.</p>
<p>Shortly you will receive a little email from us to the email address you put in. This email will have a link in it which we need you to click, this is just to let us know that it really is your email account and that it was you that really wanted to join.</p>
<p>Once you've done this then you're ready to log in, then fill in your profile and share your exciting zoo experiences to your hearts content and away you go.</p>
{% endblock %}
