{% load comments %}
<h3 id="comments">Comments</h3>
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
<div>
    {{ comment }}
</div>
{% endfor %}

{% if request.user and not request.user.is_anonymous %}
{% get_comment_form for object as form %}
{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
    <p{% if form.comment.errors %} class="error"{% endif %}>
        {{ form.comment.errors }}
        <div>{{ form.comment.label_tag }}</div>
        <div>{{ form.comment }}</div>
    </p>
    <p style="display: none">
        {{ form.honeypot.errors }}
        {{ form.honeypot.label_tag }} {{ form.honeypot }}
    </p>
    <p>
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{{ request.path }}#comments">
        <input type="submit" value="Add comment">
    </p>
</form>
{% else %}
<p>You need to <a href="/login/">log in</a> to post comments.</p>
{% endif %}
