<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery-1.2.6.js"></script>
    <link rel="stylesheet" href="/static/css/harmonise.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css">
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="hd">
	<a href="/">Homepage</a> |
	{% if user.is_authenticated %}
	<a href="{% url accounts-profile user %}">My Profile</a> |
	<a href="{% url logbook user %}">My Logbook</a> |
	<a href="{% url accounts-logout %}">Logout</a>	
	{% else %}
	<a href="{% url accounts-register %}">Signup</a> |
	<a href="{% url accounts-login %}">Login</a> |	
	{% endif %}
    <form action="/search/" method="GET" accept-charset="utf-8">
        <p><label for="search_term">Search</label> <input type="text" name="search" id="search_term" value="NOT WIRED UP" /> <input type="submit" value="Go" /></p>
    </form>
</div>
{% block content %}

{% endblock %}
</body>
</html>
