{% extends base %}{% load cache %}

{% block fulltitle %}WildlifeNearYou{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery-autocomplete/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/jquery-autocomplete/jquery.autocomplete.css">
<script type="text/javascript" src="/static/js/home.js"></script>

{% endblock %}

{% block extra_body %} id="home"{% endblock %}

{% block search_form %}{% endblock %}

{% block vanilla %}

<ul class="photostrip">
	{% for photo in recent_photos %}
	<li>{{ photo.thumb_75_with_title }}</li>
	{% endfor %}
</ul>

<div class="receptacle intro-block">
	<div class="wrapper">
		<div class="contents">
			{% if user.is_authenticated %}
			<div class="interact">
				<h2>Where have you been?</h2>
				<form action="/add-trip/" method="GET">
					<div class="container text-container">
						<label for="search-place">I've been to…</label>
						<input type="text" class="text" name="q" id="search-place">
					</div>
					<div>
						<p>e.g. London Zoo, Cotswold Wildlife Park</p>
						<input type="submit" value="Find this place" class="submit">
					</div>
				</form>
			</div>
			{% else %}
			<div class="interact" id="register-box">
				<h2>Register now</h2>
				<p class="meta">Already a member? <a href="{% url accounts-login %}" class="action" id="login-now-toggle">&raquo; <span>Log in</span></a></p>
				<form action="/account/register/" method="post">
					<div class="container text-container">
						<label for="id_username">username</label>
						<input id="id_username" type="text" name="username" maxlength="30" />
					</div>
					<div class="container text-container">
						<label for="id_email">e-mail</label>
						<input id="id_email" type="text" name="email" maxlength="75">
					</div>
					<div class="container text-container">
						<label for="id_password">password</label>
						<input type="password" name="password" id="id_password">
					</div>
					<p>Or <a onclick="$('#register-box').hide(); $('#openid-box').show(); $('#login-box').hide(); return false;" href="#openid-box">use <strong class="openid">OpenID</strong></a></p>
					<p class="meta">By registering with WildlifeNearYou, you are agreeing to <a href="/legal/">our terms and conditions of use</a>.</p>
					<div><input type="submit" class="submit" value="&raquo; Go for it"></div>
				</form>
			</div>
			<div class="interact" id="login-box" style="display:none">
				<h2>Login now</h2>
				<p>Not yet a member? <a href="{% url accounts-register %}" class="action" onclick="$('#register-box').show(); $('#openid-box').hide(); $('#login-box').hide(); return false;">&raquo; <span>register</span></a></p>
				<form action="/account/login/" method="post">
					<div class="container text-container">
						<label for="id_username2">username</label>
						<input id="id_username2" type="text" name="username" maxlength="30">
					</div>
					<div class="container text-container">
						<label for="id_password2">password</label>
						<input type="password" name="password" id="id_password2">
						<p class="meta"><a href="/account/recover/">I've forgotten my password!</a></p>
					</div>
					<p>Or <a onclick="$('#register-box').hide(); $('#openid-box').show(); $('#login-box').hide(); return false;" href="#openid-box">use <strong class="openid">OpenID</strong></a></p>
					<div>
						<input type="submit" class="submit" value="&raquo; Login">
					</div>
				</form>
			</div>
			<div class="interact" id="openid-box" style="display:none">
				<h2>Use OpenID</h2>
				<form action="/account/login/" method="post">
					<div class="container text-container">
						<label for="id_openid_url-login">OpenID</label>
						<input type="text" name="openid_url" id="id_openid_url-login" class="openid">
						<div id="what-is-openid2">
							<p>OpenID allows you to use the same account on many different websites. Read more at <a href="http://openid.net/">openid.net</a>.</p>
						</div>
					</div>
					<p>Or <a onclick="$('#register-box').hide(); $('#openid-box').hide(); $('#login-box').show(); return false;" href="#login-box">use a username and password</a></p>
					<div>
						<input type="submit" class="submit" value="&raquo; Login">
					</div>
				</form>
			</div>
			{% endif %}
			{% if user.is_authenticated %}
			<p class="intro">
				Seen any more animals? Why not <a href="{% url add-trip %}">add another trip</a> or 
				<a href="{% url flickr %}">import some photos</a> from Flickr. Or you could help people <a href="{% url help-identify-species %}">identify the animals</a> in their photos!</p>
				
			{% else %}
			<p class="intro"><strong>Find and share places to see wildlife</strong></p>
			<p class="intro">WildlifeNearYou is a site for sharing your passion for wildlife. <a href="#look-for">Search</a> for animals or places near you, or <a href="#register-box">register</a> to add your own trips and photos.</p>
			<p><a href="/about/faq/">FAQ</a> | <a href="/about/">About this site</a> | <a href="http://twitter.com/WildlifeNearYou">Follow us on Twitter</a></p>
			{% endif %}
			
			{% cache 30 "wlny_homepage_blog_posts" %}
			{% if blog_posts %}
				<h2>Site news</h2>
				<ul>
				{% for post in blog_posts|slice:":3" %}
					<li>{{ post.publish|date:"jS M" }}: <a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endcache %}
		</div>
	</div>
</div>

<div class="receptacle look-for" id="look-for">
	<div class="wrapper">
		<div class="contents">
			<form action="/search/" method="get">
				<div class="container">
					<label for="q">Look for</label>
					<input type="text" class="text" id="q" name="q" size="50" value="{{ default_search }}">
					<input type="submit" class="submit" value="&raquo; Search">
				</div>
				<p class="meta examples">Try <a href="/search/?q=tigers">tigers</a>, <a href="/search/?q=llamas+near+brighton">llamas near brighton</a>, <a href="/search/?q=new+zealand">new zealand</a> or your favourite animal</p>
			</form>
		</div>
	</div>
</div>

{% comment %}
<!-- No map yet - PLEASE DO NOT REMOVE! - talk to Nat about this
<div class="receptacle browse">
	<div class="wrapper">
		<div class="contents">
			<div class="primary">
				<img src="/static/img/site-images/map_placeholder.gif">
			</div>
			<div class="secondary">
				<p class="intro">We're currently listing <strong>123</strong> wildlife places!</p>
			</div>
		</div>
	</div>
</div>
-->
{% endcomment %}

<div class="receptacle featured">
	<div class="wrapper">
		<div class="contents">
			<div class="column first vcard">
				{% cache 245 "wlny_homepage_featured_place" featured.place %}
				<h2>Featured place</h2>
				{% if featured.place %}
				{% with featured.place as place %}
				{% if place.photo %}
				{{ place.photo.thumb_75_pull_left }}
				{% endif %}
				<h3><a class="fn org url" href="{{ place.get_absolute_url }}">{{ place.known_as }}</a></h3>
				<p>In {% if place.rough_location %}{{ place.rough_location }}, {% endif %}<a href="/{{ place.country.country_code }}/">{{ place.country }}</a>, visited by <strong>{{ place.num_visitors }}</strong>&nbsp;spotter{{ place.num_visitors|pluralize }}.</p>
				{% if place.species %}
				<h4>Animals spotted here</h4>
				<p>{% for species in place.species|slice:":10" %}<a href="{% url place-species-view place.country.country_code,place.slug,species.slug %}">{{ species.common_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
				and <a href="{{ place.urls.species }}">more&hellip;</a>
				</p>
				{% endif %}
				{% endwith %}
				{% else %}
				<p>There is no currently featured place. If you start adding your trips, your local place might be shown here!</p>
				{% endif %}
				{% endcache %}
			</div>
			<div class="column">
				{% if featured.species %}
				{% with featured.species as species %}
				<h2>Featured animal</h2>
				{% with species.photo as photo %}
				{% if photo %}
				{{ photo.thumb_75_pull_left }}
				{% endif %}
				{% endwith %}
				<h3><a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a></h3>
				{% if species.nearest %}
				<p>There's a {{ species.common_name }} at <a href="{{ species.nearest.urls.absolute }}">{{ species.nearest }}</a>, <strong>{{ species.nearest.distance_miles|floatformat }} mile{{ species.nearest.distance_miles|pluralize }}</strong> away from you!</p>
				{% endif %}
				{% cache 448 "wlny_homepage_species_sightings" species.pk %}
				{% if species.sightings.count %}
				<h4>Recently spotted at</h4>
				<ul>
					{% for sighting in species.sightings.all|slice:":2" %}
					<li><a href="{{ sighting.place.urls.absolute }}">{{ sighting.place }}</a> by <a href="{% url accounts-profile sighting.created_by.username %}">{{ sighting.created_by.username }}</a>
					{% if sighting.trip %}
					{{ sighting.trip.formatted_date }}
					{% endif %}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endcache %}
				{% endwith %}
				{% else %}
				<h2>Featured animal</h2>
				<p>No currently featured animal. If you mark an animal as your favourite, it might be shown here!</p>
				{% endif %}
				<h4>Popular animals</h4>
				{% if featured.species %}
				<p>Why not check out some other <a href="{% url popular %}">popular or unusual animals</a>?</p>
				{% else %}
				<p>Why not check out some <a href="{% url popular %}">popular or unusual animals</a>?</p>
				{% endif %}
			</div>
			<div class="column">
				{% cache 328 "wlny_homepage_featured_spotter" %}
				<h2>Featured spotter</h2>
				{% if featured.profile %}
					{% with featured.profile as profile %}
					<img src="{{ profile.face_medium }}" width="75" height="75" alt="" class="pull-left avatar">
					<h3><a href="{{ profile.urls.absolute }}">{{ profile.user.username }}</a></h3>
					{% if profile.passport.seen_species %}
						<p>Has spotted
						{% if profile.passport.favourite_species.count %}
							{% with profile.passport.favourite_species.0 as favourite %}
							{% for species in profile.passport.seen_species|slice:":5" %}{% ifnotequal favourite species %}<a href='{{ species.urls.absolute }}'>{{ species.plural|lower }}</a>{% if not forloop.last %}, {% endif %}{% endifnotequal %}{% endfor %}
					and really likes <a href='{{ favourite.urls.absolute }}'>{{ favourite.plural|lower }}</a>!
							{% endwith %}
						{% else %}
							{% for species in profile.passport.seen_species|slice:":5" %}<a href='{{ species.urls.absolute }}'>{{ species.plural|lower }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
						{% endif %}
					{% else %}
						{% if profile.passport.favourite_species.count %}
						{% with profile.passport.favourite_species.0 as favourite %}
				Hasn't spotted anything yet, but really likes <a href='{{ favourite.urls.absolute }}'>{{ favourite.plural|lower }}</a>!
						{% endwith %}
					{% endif %}
				{% endif %}
				</p>
				{% if profile.user.created_trip_set.count %}
					<h4>Recent trips</h4>
					<ul>
						{% for trip in profile.user.created_trip_set.all|slice:":2" %}
						<li><a href="{{ trip.urls.absolute }}">{{ trip.title_no_date }}</a> {{ trip.formatted_date }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if profile.visible_photos.count %}
					<p>Why not <a href="{% url user-photos profile.user.username %}">check out their photos</a>?</p>
				{% endif %}
				{% endwith %}
				{% else %}
				<p>There is no currently featured spotter. If you start adding your trips, you could be highlighted here!</p>
				{% endif %}
				{% endcache %}
			</div>
		</div>
	</div>
</div>

<div class="receptacle browse">
	<div class="wrapper">
		<div class="contents">
			<div class="primary">
				<h2>Recently added trips</h2>
				{% cache 425 "wlny_homepage_recently_added_trips" %}
				<ul class="teaserlist">
					{% for trip in recent_trips %}
					<li>
						<img src="{{ trip.created_by.get_profile.face_medium }}" width="75" height="75" alt="{{ trip.created_by }}" class="image avatar">
						<h3><strong><a href="{% url accounts-profile trip.created_by %}">{{ trip.created_by }}</a></strong> visited <a href="{{ trip.place.get_absolute_url }}">{{ trip.place }}</a> <span class="meta">{{ trip.formatted_date }}</span>
						</h3>
					<p>{% if trip.sightings %}and saw {% for sighting in trip.sightings.all|slice:":3" %}{% if forloop.last and not forloop.first and not trip.more_than_three_species %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ sighting.species.get_absolute_url }}">{{ sighting.species.plural|lower }}</a>{% endfor %}{% if trip.more_than_three_species %} and <a href="{{ trip.urls.absolute }}">more&hellip;</a>{% else %} &mdash; <a href="{{ trip.urls.absolute }}">read about their trip</a>{% endif %}, {% endif %}added {{ trip.created_at|timesince }} ago</p>
					</li>
					{% endfor %}
				</ul>
				{% endcache %}
			</div>
			<div class="secondary">
				<p class="intro">We're currently listing <strong>{{ num_of_places }}</strong> wildlife place{{ num_of_places|pluralize }} in <strong>{{ num_of_countries }}</strong> countr{{ num_of_countries|pluralize:"y,ies" }}!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
