<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script type="text/javascript">

var accuracyToZoomLevel = [
	1,  // 0 - Unknown location
	5,  // 1 - Country
	6,  // 2 - Region (state, province, prefecture, etc.)
	8,  // 3 - Sub-region (county, municipality, etc.)
	11, // 4 - Town (city, village)
	13, // 5 - Post code (zip code)
	15, // 6 - Street
	16, // 7 - Intersection
	17 // 8 - Address
];

jQuery(window).load(function() {
	var $ = jQuery;
	var mapwrapper = $('<div class="gmap" />').css('position', 'relative');
	var mapdiv = $('<div />').css({
		width: '100%',
		height: '300px'
	});
	var crosshair = $('<div />').css({
		'position': 'absolute',
		'top': '142px',
		'height': '19px',
		'width': '19px',
		'left': '50%',
		'margin-left': '-8px',
		'display': 'block',
		'background': 'url(/static/img/icons/crosshair.gif)',
		'background-position': 'center center',
		'background-repeat': 'no-repeat'
	});
	mapwrapper.append(mapdiv);
	mapwrapper.append(crosshair);
	$('#id_latitude').parent().before(mapwrapper);
	window.gmap = new GMap2(mapdiv[0]);
	gmap.addControl(new GSmallMapControl());
	gmap.addControl(new GMapTypeControl());
	//gmap.enableGoogleBar();
	gmap.setMapType(G_NORMAL_MAP);
	gmap.setCenter(new GLatLng(44.08758, -21.796875), 2);
	GEvent.addListener(gmap, 'move', function() {
		var center = gmap.getCenter();
		$('#id_latitude').val(center.lat());
		$('#id_longitude').val(center.lng());
	});
	GEvent.addDomListener(crosshair[0], 'dblclick', function() {
		gmap.zoomIn();
	});
	
	/* Zoom the map to a country when they pick one from the dropdown */
	var geocoder = new GClientGeocoder();
	$('#id_country').change(function() {
		var country = this.options[$(this).val()].text;
		if (country) {
			geocoder.getLocations(country, function(result) {
				if (result.Status.code != 200) {
					return;
				}
				var placemark = result.Placemark[0]; // Only use first result
				var accuracy = placemark.AddressDetails.Accuracy;
				var zoomLevel = accuracyToZoomLevel[accuracy] || 1;
				var lon = placemark.Point.coordinates[0];
				var lat = placemark.Point.coordinates[1];
				gmap.setCenter(new GLatLng(lat, lon), zoomLevel);
			});
		}
	});
});
</script>
<form action="/add-trip/add-place/" method="post" class="place">
	<div class="required text-container container">
		<label for="id_{{ form.known_as.html_name }}">Name of the place <img src="/static/img/icons/required_white.gif" alt="Required" title="Required"></label>
		{{ form.known_as.errors }}
		{{ form.known_as }}
	</div>
	<div class="location">
		<div class="required select-container container country">
			<label for="id_{{ form.country.html_name }}">{{ form.country.label }} <img src="/static/img/icons/required_blue.gif" alt="Required" title="Required"></label>
			{{ form.country.errors }}
			{{ form.country }}
		</div>
		<div class="required text-container container">
			<label for="id_{{ form.latitude.html_name }}">{{ form.latitude.label }} <img src="/static/img/icons/required_blue.gif" alt="Required" title="Required"></label>
			{{ form.latitude.errors }}
			{{ form.latitude }}
		</div>
		<div class="required text-container container">
			<label for="id_{{ form.longitude.html_name }}">{{ form.longitude.label }} <img src="/static/img/icons/required_blue.gif" alt="Required" title="Required"></label>
			{{ form.longitude.errors }}
			{{ form.longitude }}
		</div>
	</div>
	<div class="contact">
		<div class="text-container container">
			<label for="id_{{ form.phone.html_name }}">Phone number</label>
			{{ form.phone.errors }}
			{{ form.phone }}
		</div>
		<div class="text-container container">
			<label for="id_{{ form.url.html_name }}">{{ form.url.label }}</label>
			{{ form.url.errors }}
			{{ form.url }}
		</div>
	</div>
	<div class="address">
		<div class="text-container container">
			<label for="id_{{ form.address_line_1.html_name }}">{{ form.address_line_1.label }}</label>
			{{ form.address_line_1.errors }}
			{{ form.address_line_1 }}
		</div>
		<div class="text-container container">
			<label for="id_{{ form.address_line_2.html_name }}">{{ form.address_line_2.label }}</label>
			{{ form.address_line_2.errors }}
			{{ form.address_line_2 }}
		</div>
		<div class="text-container container">
			<label for="id_{{ form.town.html_name }}">{{ form.town.label }}</label>
			{{ form.town.errors }}
			{{ form.town }}
		</div>
		<div class="text-container container">
			<label for="id_{{ form.state.html_name }}">{{ form.state.label }}</label>
			{{ form.state.errors }}
			{{ form.state }}
		</div>
		<div class="text-container container">
			<label for="id_{{ form.zip.html_name }}">{{ form.zip.label }}</label>
			{{ form.zip.errors }}
			{{ form.zip }}
		</div>
	</div>
	<div class="button-container container">
		<input type="submit" value="Add place">
	</div>
</form>
