<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script type="text/javascript">

var accuracyToZoomLevel = [
    1,  // 0 - Unknown location
    5,  // 1 - Country
    6,  // 2 - Region (state, province, prefecture, etc.)
    8,  // 3 - Sub-region (county, municipality, etc.)
    11, // 4 - Town (city, village)
    13, // 5 - Post code (zip code)
    15, // 6 - Street
    16, // 7 - Intersection
    17 // 8 - Address
];

jQuery(window).load(function() {
    var $ = jQuery;
    var mapwrapper = $('<div />').css('position', 'relative');
    var mapdiv = $('<div />').css({
        width: '100%',
        height: '300px'
    });
    var crosshair = $('<div />').css({
        'position': 'absolute',
        'top': '142px',
        'height': '19px',
        'width': '19px',
        'left': '50%',
        'margin-left': '-8px',
        'display': 'block',
        'background': 'url(/static/img/icons/crosshair.gif)',
        'background-position': 'center center',
        'background-repeat': 'no-repeat'
    });
    mapwrapper.append(mapdiv);
    mapwrapper.append(crosshair);
    $('fieldset#location div:first').before(mapwrapper);
    window.gmap = new GMap2(mapdiv[0]);
    gmap.addControl(new GLargeMapControl());
    gmap.addControl(new GMapTypeControl());
    gmap.setMapType(G_NORMAL_MAP);
    gmap.setCenter(new GLatLng(44.08758, -21.796875), 2);
    GEvent.addListener(gmap, 'move', function() {
        var center = gmap.getCenter();
        $('#id_latitude').val(center.lat());
        $('#id_longitude').val(center.lng());
    });
    GEvent.addDomListener(crosshair[0], 'dblclick', function() {
        gmap.zoomIn();
    });
    
    /* Zoom the map to a country when they pick one from the dropdown */
    var geocoder = new GClientGeocoder();
    $('#id_country').change(function() {
        var country = this.options[$(this).val()].text;
        if (country) {
            geocoder.getLocations(country, function(result) {
                if (result.Status.code != 200) {
                    return;
                }
                var placemark = result.Placemark[0]; // Only use first result
                var accuracy = placemark.AddressDetails.Accuracy;
                var zoomLevel = accuracyToZoomLevel[accuracy] || 1;
                var lon = placemark.Point.coordinates[0];
                var lat = placemark.Point.coordinates[1];
                gmap.setCenter(new GLatLng(lat, lon), zoomLevel);
            });
        }
    });
});
</script>
<form action="/add-trip/add-place/" method="POST">
<fieldset><legend>Required fields</legend>
<div>
    {{ form.known_as.errors }}
    <label for="id_{{ form.known_as.html_name }}">Name of the place</label>
    {{ form.known_as }}
</div>
<div>
    {{ form.country.errors }}
    <label for="id_{{ form.country.html_name }}">{{ form.country.label }}</label>
    {{ form.country }}
</div>
</fieldset>
<fieldset id="location"><legend>Location (required)</legend>
<div>
    {{ form.latitude.errors }}
    <label for="id_{{ form.latitude.html_name }}">{{ form.latitude.label }}</label>
    {{ form.latitude }}
</div>
<div>
    {{ form.longitude.errors }}
    <label for="id_{{ form.longitude.html_name }}">{{ form.longitude.label }}</label>
    {{ form.longitude }}
</div>
</fieldset>
<fieldset><legend>Contact details (optional)</legend>
<div>
    {{ form.phone.errors }}
    <label for="id_{{ form.phone.html_name }}">Phone number</label>
    {{ form.phone }}
</div>
<div>
    {{ form.url.errors }}
    <label for="id_{{ form.url.html_name }}">{{ form.url.label }}</label>
    {{ form.url }}
</div>
</fieldset>
<fieldset><legend>Address (optional)</legend>
<div>
    {{ form.address_line_1.errors }}
    <label for="id_{{ form.address_line_1.html_name }}">{{ form.address_line_1.label }}</label>
    {{ form.address_line_1 }}
</div>
<div>
    {{ form.address_line_2.errors }}
    <label for="id_{{ form.address_line_2.html_name }}">{{ form.address_line_2.label }}</label>
    {{ form.address_line_2 }}
</div>
<div>
    {{ form.town.errors }}
    <label for="id_{{ form.town.html_name }}">{{ form.town.label }}</label>
    {{ form.town }}
</div>
<div>
    {{ form.state.errors }}
    <label for="id_{{ form.state.html_name }}">{{ form.state.label }}</label>
    {{ form.state }}
</div>
<div>
    {{ form.zip.errors }}
    <label for="id_{{ form.zip.html_name }}">{{ form.zip.label }}</label>
    {{ form.zip }}
</div>
</fieldset>
    <p><input type="submit" value="Add place"></p>
</form>
