	<{{htag}}>{% ifequal link_title "true" %}<a href="{% url trip-view trip.created_by, trip.id %}">{% endifequal %}{{ trip.title }}{% ifequal link_title "true" %}</a>{% endifequal %}</{{htag}}>
	{% with trip.sighting_set.all as sightings %}
	{% regroup sightings by place.known_as as sightings_by_place %}

	{% with sightings_by_place|length as sl %}
{% ifequal 1 sl %}
	<p>A trip to {% for place in sightings_by_place %}{{ place.grouper }}{% endfor %} with {{ trip.sighting_set.all.count }} sighting{{ trip.sighting_set.all.count|pluralize }} {% ifnotequal trip.formatted_date '' %}taken {{ trip.formatted_date }}{% endifnotequal %}</p>

	{% for place in sightings_by_place %}
	<h2>Sighting{{ trip.sighting_set.all.count|pluralize }}</h2>
	<ul>
		{% for sighting in place.list %}
		<li><a href="{% url species sighting.species.slug %}">{{ sighting.species.common_name }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
{% else %}
	<p>A trip {% ifnotequal trip.formatted_date '' %} taken {{ trip.formatted_date }}{% endifnotequal %} with {{ trip.sighting_set.all.count }} sighting{{ trip.sighting_set.all.count|pluralize }} </p>

	<p class="description">
	{{ trip.description }}
	</p>

	<h2>Sightings</h2>
	{% for place in sightings_by_place %}
	<h2>{% for sighting in place.list|slice:":1" %}<a href="{% url place sighting.place.country.country_code,sighting.place.slug %}">{{ place.grouper }}</a>{% endfor %}</h2>
	<p>({{ place.list|length }} sighting{{ place.list|length|pluralize }})</p>

	<ul>
		{% for sighting in place.list %}
		<li><a href="{% url species sighting.species.slug %}">{{ sighting.species.common_name }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
{% endifequal %}
	{% endwith %}
	{% endwith %}