{% extends base %}

{% block title %}Add a trip to {{ place }}{% endblock %}

{% block extra_head %}
<script type="text/javascript"
    src="/static/js/jquery-ui/minified/ui.core.min.js"></script>
<script type="text/javascript"
    src="/static/js/jquery-ui/minified/effects.core.min.js"></script>
<script type="text/javascript"
    src="/static/js/jquery-ui/minified/effects.transfer.min.js"></script>
<style type="text/css">
.ui-effects-transfer {
    border: 2px solid black;
    background-color: #CBD7E0;
    opacity: 0.5;
}
</style>
<script type="text/javascript">
jQuery(function($) {
    $('ul.animal-list :image').live('click', function(ev) {
        // Add this species to the spotted list
        ev.preventDefault();
        var selected = $(this).closest('li');
        var ul = getSpottedList();
        var name = selected.find('.animal-name').text();
        var freebase_id = selected.find(':input:hidden').val();
        var counter = getMaxSuffix(ul.find(':input:hidden')) + 1;
        var type = 'selected';
        if (selected.is('.unknown')) {
            type = 'unknown';
        }
        var li = $(
            '<li><input type="image" src="/static/img/icons/cancel.png" ' + 
            'name="remove_' + type + '_' + counter + '"> ' + name + 
            '<input type="hidden" name="' + type + '_' + counter + 
            '" value="' + freebase_id + '"></li>'
        );
        ul.append(li);
        $(this).closest('li').effect('transfer', {
            'to': li
        }, 500);
        $('#results').empty();
        $('#i-saw-a-q').val('').focus();
        return false;
    });
    
    // Rig up the Ajax search when 'Search' button is clicked
    var search = $('#i-saw-a-q').parent().find(':submit');
    search.click(function(ev) {
        ev.preventDefault();
        var q = $('#i-saw-a-q').val();
        $('#results').load(
            '{{ place.get_absolute_url }}add-trip/ajax-search/?q=' + encodeURIComponent(q)
        );
    });
    
    function getSpottedList() {
        var ul = $('#species-spotted ul');
        if (ul.length) {
            return ul;
        }
        $('p#you-need-to-add').remove();
        var spotted_list = $('<ul></ul>').appendTo('#species-spotted');
        $(
            '<p><input type="submit" name="finish" ' + 
            'value="Finish adding this trip"></p>'
        ).insertAfter(spotted_list);
        return spotted_list;
    }
    
    function getMaxSuffix(els, attr) {
        attr = attr || 'name';
        var max = 0;
        els.each(function() {
            var value = parseInt($(this).attr(attr).split('_').pop(), 10);
            if (value > max) {
                max = value;
            }
        });
        return max;
    }
    
    $('#species-spotted :image').live('click', function(ev) {
        ev.preventDefault();
        $(this).closest('li').remove();
    });
    
    // Utterly ridiculous delighter
    $('input#i-saw-a-q').prev('label').append(
        $('<span>n</span>').css('opacity', 0)
    );
    $('input#i-saw-a-q').keyup(function() {
        var $this = $(this);
        var span = $this.prev('label').find('span');
        if (/^[aeiouAEIOU]/.exec($this.val())) {
            span.css('opacity', 1);
        } else {
            span.css('opacity', 0);
        }
    });
});
</script>
{% endblock %}

{% block content_title %}
{% if trip %}
<h1>What else did you see on that trip?</h1>
{% else %}
<h1>What did you see at <a href="{{ place.get_absolute_url }}">{{ place }}</a>?</h1>
{% endif %}
<form action="{{ request_path }}" method="post">

{% endblock %}

{% block primary_content %}
    <div class="container compact"><label for="i-saw-a-q">I saw a</label> <input type="text" name="q" id="i-saw-a-q" value="{{ q }}" size="30"> <input type="submit" value="Search"></div>
    
    <div id="results">
    
    {% include "trips/_species_results.html" %}
    
    </div>
    
    {% comment %}
    <pre>{{ debug }}</pre>
    {% endcomment %}
    
{% endblock %}

{% block secondary_content %}
<div id="species-spotted">
<h2>Species spotted</h2>
{% if selected_details or unknowns %}
    <ul>
    {% for item in selected_details %}
        <li><input type="image" src="/static/img/icons/cancel.png" name="remove_selected_{{ forloop.counter0 }}">
        {{ item.name }}
        <input type="hidden" name="selected_{{ forloop.counter0 }}" value="{{ item.id }}">
        </li>
    {% endfor %}
    {% for name in unknowns %}
        <li><input type="image" src="/static/img/icons/cancel.png" name="remove_unknown_{{ forloop.counter0 }}">
        {{ name }} <em>Unknown species</em>
        <input type="hidden" name="unknown_{{ forloop.counter0 }}" value="{{ name }}">
        </li>
    {% endfor %}
    </ul>
    <p>
        <input type="submit" name="finish" value="Finish adding this trip">
    </p>
{% else %}
    <p id="you-need-to-add">You need to add some species before you can save your trip.</p>
{% endif %}
</div>
{% endblock %}

{% block after_content %}
    </form>
    
{% endblock %}
