{% extends base %}

{% block title %}Add a trip to {{ place }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">var PLACE_ID = {{ place.id }};</script>
<script type="text/javascript" src="/static/js/i-saw-and-a.js"></script>
{% endblock %}

{% block content %}

<h1>What did you see at {{ place }}?</h1>

<div class="see-more-animals highlight"><a name="addsightings"></a>
    <form action="../pick-sightings/" method="GET">
        <div class="container"><label for="saw_1">I saw a </label><input type="text" name="saw.1.s" id="saw_1"></div>
        <div class="container and-a"><label for="saw_2">and a </label><input type="text" name="saw.2.s" id="saw_2"> <span class="meta">(optional)</span></div>
        <div><input type="submit" value="Add my animals"></div>
    </form>
</div>

{% endblock %}
