{% extends base %}

{% block title %}Edit your trip{% endblock %}

{% block extra_head %}
<script type="text/javascript">var PLACE_ID = {{ trip.place.id }};</script>
<script type="text/javascript" src="/static/js/star-select-replace.js"></script>
<script type="text/javascript">
jQuery(function($) {
	var div = $('#edit-sightings');
	div.find('div').hide();
	var p = $("<p><a href='#'>+ Edit this trip's sightings</a></p>");
	p.find('a').click(function() {
		p.remove();
		div.find('div').slideDown('fast');
		return false;
	});
	div.append(p);
})
</script>
<style type="text/css">
#edit-sightings textarea {
	height: 3em;
	width: 80%;
}
</style>
{% endblock %}

{% block content %}

<h1>Edit your trip</h1>

<form action="{{ trip.urls.edit }}" method="POST">

<div class="container text-container">
	{{ form.name.errors }}
	<label for="id_name">Title</label>
	{{ form.name }}
	to {{ trip.place }}
	<p class="meta">(use titles to differentiate between different trips to the same place)</p>
</div>
<div class="container text-container">
	{{ form.start.errors }}
	<label for="id_start">Date of trip</label>
	{{ form.start }}
	<p class="meta">(optional, as accurate as you can remember; e.g. &ldquo;13/4/2007&rdquo;, &ldquo;May 2008&rdquo;, &ldquo;2005&rdquo;)</p>
</div>
<div class="container textarea-container">
	{{ form.description.errors }}
	{{ form.description.label_tag }}
	{{ form.description }}
	<p class="meta">(optional)</p>
</div>
<div class="select-container container">
	<label for="rating">Your rating for this trip:</label>
	<select id="rating" name="rating">
		<option></option>
		<option value="1" {% ifequal trip.rating "1" %}selected="selected" {% endifequal %}class="worst">*</option>
		<option value="2" {% ifequal trip.rating "2" %}selected="selected" {% endifequal %}class="bad">**</option>
		<option value="3" {% ifequal trip.rating "3" %}selected="selected" {% endifequal %}class="fair">***</option>
		<option value="4" {% ifequal trip.rating "4" %}selected="selected" {% endifequal %}class="good">****</option>
		<option value="5" {% ifequal trip.rating "5" %}selected="selected" {% endifequal %}class="best">*****</option>
	</select>
	<p class="meta">(optional, one star is worst, five stars is best)</p>
</div>

<div class="container" id="edit-sightings">
	<div>
		<h2>Edit sightings</h2>
		{{ sightings_formset.management_form }}
		<ul class="animal-list">
		{% for form in sightings_formset.forms %}
			<li>
			{{ form.id }}
			{% if form.instance.species %}
			{% with form.instance.species as species %}
					<div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
					<p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a></p>
			{% endwith %}
			{% else %}
					<div class="thumbnail"></div>
					<p><span class="animal-name">{{  form.instance.species_inexact }}</span></p>
			{% endif %}
			{{ form.note }}
			<label for="id_sightings-{{ forloop.counter0 }}-DELETE">Remove:</label> {{ form.DELETE }}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

<div class="container">
	<input type="submit" name="save-trip" value="Save changes">
</div>

</form>

{% endblock %}
