{% extends base %}

{% block title %}{{ trip.title }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/star-select-replace.js"></script>
{% endblock %}

{% block content %}

{% load trip_sightings %}
	{% trip_sightings trip 'h1' 'h2' '' %}
    
    
    <!-- TODO: Users should see their OWN photos even if they have not 
        yet been moderated, with a visual indication of this e.g. red border
    -->
    {% with trip.visible_photos.all as photos %}
    {% if photos %}
    <h2>Photos from this trip</h2>
    {% for photo in trip.visible_photos.all %}
    <a href="{{ photo.get_absolute_url }}">{{ photo.photo.thumbnail_tag }}</a>
    {% endfor %}
    <h2>Got any more?</h2>
    {% else %}
    <h2>Take any photos?</h2>
    {% endif %}
    {% endwith %}
    <form enctype="multipart/form-data" action="{{ request.path }}upload/" method="POST">
        <p><input type="file" name="photo" id="id_photo"> <input type="submit" value="Upload"></p>
    </form>

	<h2>Trip Rating</h2>
	{% if rating.on %}
	<p class="rating" title="{{ rating.on|length }} out of 5 stars">
	{% for i in rating.on %}
	<img src="/static/img/icons/starselect_single.gif" alt="">
	{% endfor %}
	{% for i in rating.off %}
	<img src="/static/img/icons/starselect_off.png" alt="">
	{% endfor %}
	</p>
	{% else %}
	<p>You haven't rated this trip yet, don't worry though, you can do this by editing the trip.</p>
	{% endif %}
	
{% endblock %}
