{% extends base %}

{% block title %}Add your sightings{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/star-select-replace.js"></script>
{% endblock %}

{% block primary_content %}

<h1>Tell us about your trip</h1>

<p>Why not write about your trip in your tripbook? You can upload your photos too.</p>

<form action="{{ request.path }}" method="POST">
{% ifnotequal tcount 0 %}
<h2>Want to add these sightings to an existing trip?</h2>
<p>We show you all the trips you&rsquo;ve been on to {{ place.known_as }}.</p>
	{{ form.user_trips.errors }}
	{{ form.user_trips.label_tag }}
	{{ form.user_trips }}

    <input type="submit" name="add-to-existing" value="Add to my trip">
{% endifnotequal %}

<h2>A New Trip</h2>
<div class="container">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
    to {{ place }}
</div>
<div class="container">
    {{ form.start.errors }}
    {{ form.start.label_tag }}
    {{ form.start }}
    <br>(optional, as accurate as you can remember; e.g. &ldquo;13/4/2007&rdquo;, &ldquo;November 2005&rdquo;)
</div>
<div class="container">
    {{ form.description.errors }}
    {{ form.description.label_tag }} (optional)
    {{ form.description }}
</div>
<div class="select-container container">
	<label for="review-rating">Your rating of this trip (optional):</label>
	<select id="review-rating" name="review-rating">
		<option></option>
		<option value="1" class="worst">*</option>
		<option value="2" class="bad">**</option>
		<option value="3" class="fair">***</option>
		<option value="4" class="good">****</option>
		<option value="5" class="best">*****</option>
	</select>
	<input class="noscript" type="submit" value="save">
</div>
<div class="container">
    <input type="submit" name="save-trip" value="Save my trip report">
</div>
<h2>Just report that this zoo has them</h2>
<div class="container">
    <input type="submit" name="just-sightings" value="They definitely do but I haven't seen them (yet!)">
{% for hidden in hiddens %}
    <input type="hidden" name="{{ hidden.name }}" value="{{ hidden.value }}">
{% endfor %}
</div>
</form>



{% endblock %}
