{% extends "base.html" %}

{% block title %}Add your sightings{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/star-select-replace.js"></script>
{% endblock %}

{% block primary_content %}

<h1>Tell us about your trip</h1>

<p>Why not write about your trip in your tripbook? You can upload your photos too.</p>

<form action="{{ request.path }}" method="POST">
<p>
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
    to {{ place }}
</p>
<p>
    {{ form.start.errors }}
    {{ form.start.label_tag }}
    {{ form.start }}
    (optional, as accurate as you can remember)
</p>
<p>
    {{ form.description.errors }}
    {{ form.description.label_tag }} (optional)
    {{ form.description }}
</p>
	<div class="select-container container">
		<label for="review-rating">Your rating of this trip</label>
		<select id="review-rating" name="review-rating">
			<option></option>
			<option value="1" class="worst">*</option>
			<option value="2" class="bad">**</option>
			<option value="3" class="fair">***</option>
			<option value="4" class="good">****</option>
			<option value="5" class="best">*****</option>
		</select>
		<input class="noscript" type="submit" value="save">
	</div>
<p>
    <input type="submit" name="save-trip" value="Save my trip report">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="just-sightings" value="No thanks, just save my sightings">
{% for hidden in hiddens %}
    <input type="hidden" name="{{ hidden.name }}" value="{{ hidden.value }}">
{% endfor %}
</p>
</form>



{% endblock %}
