{% extends "base.html" %}

{% block title %}Send us feedback{% endblock %}

{% block content %}

<h1>Send us feedback</h1>

<form action="/feedback/" method="POST">
<p>
    {{ form.body.errors }}
    {{ form.body }}
</p>
{% if form.email %}
<p>
    {{ form.email.errors }}
    <label for="id_email">Your e-mail address:</label> {{ form.email }}
    (optional, we'll need it to send you a reply)
</p>
{% endif %}
<p><input type="submit" value="Send">
    <input type="hidden" name="from-page" value="{{ from_page }}">
</p>
</form>

{% endblock %}
