{% extends base %}

{% load pagination_tags %}
{% load zoocommon %}

{% block title %}All species{% endblock %}

{% block content %}

<h1>All species</h1>
{% if all_species %}
{% autopaginate all_species 10 %}
{% paginate %}
		<ul class='animal-list'>
				{% for species in all_species %}
						<li>
								<div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
								<p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a></p>
								<p><i class="scientific">{{ species.latin_name }}</i></p>
						</li>
				{% endfor %}
		</ul>
{% paginate %}
{% else %}
<p>Eek! Our menagerie is empty.</p>
{% endif %}

{% endblock %}
