{% extends base %}

{% load humanize %}
{% load favourites_extras %}
{% load thumbnail %}

{% block title %}{{ species.common_name }} ({{ species.latin_name }}){% endblock %}

{% block primary_content %}

<h1>{{ species.common_name }} <i class="scientific">({{ species.latin_name }})</i></h1>

{% if species.description %}
<p class="intro">{{ species.description }}</p>
{% endif %}

{% if nearest %}
<p>The nearest {{ species.common_name }} <a href="/set-location/" title="Change your location, currently &quot;{{ location_description }}&quot;">to you</a> is at <a href="{{ nearest.get_absolute_url }}">{{ nearest }}</a>, {{ nearest.distance_miles|floatformat:0 }} miles away</p>
{% else %}
<p><a href="/set-location/">Set your location</a> to find a {{ species.common_name }} near you (or just <a href="">search for one</a>)</p>
{% endif %}

{% if request.user.is_authenticated %}
	{% if favourited %}
	<p>This is one of your favourite animals! {% favourite_toggler "remove" species.slug request.path %}</a></p>
	{% else %}
	<p class="add">{% favourite_toggler "add" species.slug request.path %}</p>
	{% endif %}
{% else %}
	<p><a href="{% url accounts-login %}?next={{ request.path }}">Login</a> or <a href="{% url accounts-register %}">register</a> to add this animal as one of your favourites.</p>
{% endif %}

{% if species.seen_at %}
<h2>See them here:</h2>
<ul>
    {% for place in species.seen_at %}
    <li><a href="{{ place.urls.absolute }}">{{ place }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<!-- TODO add in profile icons here of people who have favourited it -->
<p>Favourited by <strong>{{ favourites }}</strong> {{ favourites|pluralize:"person,people" }}
{% if hit_parade %}
&mdash; currently the <a href="{% url hit-parade %}">{{ hit_parade|ordinal }} most favourited animal</a></p>
{% endif %}

{% endblock %}

{% block secondary_content %}


{% if species.visible_photos %}
<h2>Photos</h2>
<ul>
  {% for photo in species.visible_photos|slice:":30" %}
  <li><a href="{{ photo.urls.absolute }}"><img src="{% thumbnail photo.photo 75x75 crop %}"></a></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Comments</h2>
{% with species as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

{% endblock %}
