{% extends base %}

{% load humanize %}
{% load favourites_extras %}

{% block title %}{{ species }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/gallery.js"></script>
{% endblock %}

{% block content_title %}
<h1>{{ species.common_name }}{% if species.latin_name %} <i class="scientific">({{ species.latin_name }})</i>{% endif %}</h1>
{% endblock %}

{% block primary_content %}

{% if species.description %}
<p class="intro">{{ species.description }}</p>
{% endif %}

{% if nearest %}
<p>Your nearest <strong>{{ species.common_name }}</strong> is at <a href="{{ nearest.get_absolute_url }}">{{ nearest }}</a>, <strong>{{ nearest.distance_miles|floatformat:0 }} mile{{ nearest.distance_miles|pluralize }} away</strong> from {{ location_description }} (not where you are? <a href="/set-location/" title="Change your location, currently &quot;{{ location_description }}&quot;">Set your location</a>)</p>
{% else %}
{% if not location_description %}
<p>
		{% if user.is_authenticated %}
		<a href="/set-location/">Set your location</a>
		{% else %}
		<a href="{% url accounts-login %}?next={{ request.path }}">Login</a> or <a href="{% url accounts-register %}">register</a>
		{% endif %}
		 to find {{ species.article }} {{ species.common_name }} near you (or just <a href="/search/?q={{ species.common_name|iriencode }}">search for one</a>).</p>
{% endif %}
{% endif %}

{% if species.seen_at %}
<h2>See them here</h2>
<ul class="place-list">
	{% for place in species.seen_at %}
	<li>
			{% include "places/_place.html" %}
	</li>
	{% endfor %}
</ul>
{% endif %}

{% if spotters %}
<h2>Spotted by</h2>
<ul class="spotter-list">
{% for spotter in spotters %}
		<li>
				<img src="{{ spotter.get_profile.face_medium }}" width="75" height="75" alt="" class="pull-left avatar">
				<p><a class="spotter-name" href="{{ spotter.get_profile.urls.absolute }}">{{ spotter }}</a></p>
{% comment %}				<p class="meta">({{ trip.species.count }} sighting{{ trip.species.count|pluralize }})</p>{% endcomment %}
		</li>
{% endfor %}
</ul>
{% if more_spotters %}
<p><a href='{{ species.urls.spotters }}'>See all spotters…</a></p>
{% endif %}
{% endif %}

{% endblock %}

{% block secondary_content %}

<h2>Favourite</h2>

{% if request.user.is_authenticated %}
	{% if favourited %}
	<form method="post" action="/favourites/species/remove/{{ species.pk }}/">
	<p>This is one of <a href="{{ user.get_profile.urls.absolute }}#favourite-animals">your favourite animals</a>! 
		<input type="hidden" name="next" value="{{ request_path }}">
		<input class="link" type="submit" value="Remove from favourites">
	</p>
	</form>
	{% else %}
	<form method="post" action="/favourites/species/add/{{ species.pk }}/">
	<p>
		<input type="hidden" name="next" value="{{ request_path }}">
		<input class="link" type="submit" value="Add to favourites">
	</p>
	</form>
	{% endif %}
{% else %}
	<p><a href="{% url accounts-login %}?next={{ request.path }}">Login</a> or <a href="{% url accounts-register %}">register</a> to add this animal as one of your favourites.</p>
{% endif %}

<p>Favourited by <strong>{{ num_favourites }}</strong> {{ num_favourites|pluralize:"person,people" }}

{% with species.visible_photos.count as visible_photo_count %}
	{% if visible_photo_count %}
		<h2>Photos</h2>
		{% ifequal visible_photo_count 1 %}{# Only one photo #}
			<div class="gallery">
			{% for photo in species.visible_photos.all %}
				<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.thumb_240_url }}"></a>
			{% endfor %}
			</div>
		{% else %}{# More than one photo #}
		{% with species.photo as chosen %}
		<div class="gallery">
				<a href="{{ chosen.get_absolute_url }}"><img src="{{ chosen.thumb_240_url }}"></a>
				<div class="slideshow">
					<ul id="thumbnails">
							{% for photo in species.visible_photos|slice:":30" %}
							{% ifnotequal chosen photo %}
								<li>{{ photo.thumb_75 }}</li>
								{% endifnotequal %}
							{% endfor %}
					</ul><!-- /#thumbnails -->
				</div><!-- /.slideshow -->
			</div>
			{% endwith %}
		{% endifequal %}
	{% endif %}
{% endwith %}

<h2>Comments</h2>
{% with species as object %}
	{% include "comments/_comments_reversed.html" %}
{% endwith %}

{% endblock %}
