<html>{% load humanize %}
<head><title>{{ gimmick }} - Find {{ gimmick.plural|title }} Near You</title>
<script type="text/javascript">
if (typeof(navigator.geolocation) != 'undefined' && !location.search) {
	navigator.geolocation.watchPosition(onPosition, onError, {
		enableHighAccuracy: true,
		maximumAge: 600000
	});
}
function onPosition(position) {
	console.log(position);
	window.location = window.location + '?lat=' + position.coords.latitude + 
		'&lon=' + position.coords.longitude;
}
function onError(error) {
	if (error.code==0) {
		msg = "Can't get location";
	} else if (error.code==1) {
		msg = "Can't get location (permission denied)";
	} else if (error.code==2) {
		msg = "Can't get location (unavailabe)";
	} else if (error.code==3) {
		msg = "Can't get location (timeout)";
	}
}
</script>
</head>
<body>

<h1>Find {{ gimmick.plural|title }} Near You</h1>

<form action="" method="get">
	<div>
		<input type="text" size="30" value="{{ name }}" name="q">
		<input type="submit" value="Go">
	</div>
</form>

{% if results %}
	<ol>
	{% for result in results %}
		<li>
			{% if result.photo %}
			<img src="{{ result.photo.thumb_75_url }}">
			{% endif %}
			{{ result.place }}
			
			{{ result.species.common_name }}
			{% if result.species.latin_name %}
				<i>{{ result.species.latin_name }}</i>
			{% endif %}
			
			{{ result.distance.miles|floatformat:"1"|intcomma }} miles away
		</li>
	{% endfor %}
	</ol>
{% endif %}

</body>
</html>
