{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
    <p{% if form.comment.errors %} class="error"{% endif %}>
        {{ form.comment.errors }}
        <div><label for="id_comment">Add Your Comment</label></div>
        <div>{{ form.comment }}</div>
    </p>
    <p style="display: none">
        {{ form.honeypot.errors }}
        {{ form.honeypot.label_tag }} {{ form.honeypot }}
    </p>
    <p>
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{{ request.path }}#comments">
        <input type="submit" value="Add comment">
    </p>
</form>
