{% load comments i18n %}
<form action="{% comment_form_target %}" method="post" class="comment">
	<div class="container textarea-container{% if form.comment.errors %} error{% endif %}">
		{{ form.comment.errors }}
		<label for="id_comment">Add your comment</label>
		{{ form.comment }}

	</div>
	<div class="hidden">
		{{ form.honeypot.errors }}
		{{ form.honeypot.label_tag }} {{ form.honeypot }}
	</div>
	<div class="container button-container">
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}
		<input type="hidden" name="next" value="{{ comment_next }}#comments">
		<img src="{{ user.get_profile.face_small }}" alt="">
		<a href="{% url accounts-profile user.username %}">{{ user.username }}</a>
		<input type="submit" value="Post comment" class="submit">
	</div>
</form>
