{% extends base %}

{% block title %}Help improve WildlifeNearYou{% endblock %}

{% block content %}

<h1>Help improve WildlifeNearYou</h1>

<p>In addition to adding trips, photos and sightings you can also help out in the following ways.</p>

<h2>Help identify species in other people's photos</h2>

<p>Take a look at our <a href="{% url help-identify-species %}">list of photos with no identified species</a> and see if you can figure out what they are. You'll earn animal points for each species you identify which the photo's owner then agrees with.</p>

<h2>More coming soon</h2>

<p>Keep an eye on the <a href="/blog/">WildlifeNearYou blog</a> (or <a href="http://twitter.com/WildlifeNearYou">Twitter account</a>) for more ways you can help out!</p>

{% endblock %}
