{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

<h1>About this site</h1>

<p>This site was conceived and created over a week
whilst staying in Fort Clonque, Alderney, by the
following:

<ul>
<li>James Aylett</li>
<li>Richard Boulton</li>
<li>Natalie Downe</li>
<li>Matt Harris</li>
<li>Chris Lamb</li>
<li>Cindy Li</li>
<li>Niqui Merrett</li>
<li>Mazz Moseley</li>
<li>Ben Phillips</li>
<li>Aaron Sokoloski</li>
<li>Matthew Somerville</li>
<li>Simon Willison</li>
</ul>

{% endblock %}

