{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

<h1>About this site</h1>

<p class="intro">Hello there! So you&rsquo;re interested in who we are and how this site came to
be. I hope you&rsquo;re sitting comfortably, and we&rsquo;ll tell you&hellip;</p>

<p>SITENAME was born out of a passion by its creators for zoos, nature
reserves, and the wonder and awe at the vast amount of amazing creatures there
are that inhabit our beloved planet. Why zoos? Well, zoos are an accessible,
amazing opportunity to learn about a wide range of fascinating creatures and a
chance to raise awareness about why we should all care about their future.</p>

<p>We imagined a future where there was a place on the internet that contained
all the information in one place about the zoos, and allowed us to easily
search and find our nearest zoo that housed monkeys, owls or narwhals. These
are our favourite creatures, we love them a lot. We then dreamed that the site
would be community driven so that we could share our trips to the zoo and
hopefully have a good read of other people&rsquo;s ventures too, plus many more
wonderous zoo related things.</p>

<p>We conceived and turned this dream into reality in just one week whilst
staying at Fort Clonque on Alderney, with the following incredibly amazingly
talented good friends who all made this site possible:</p>

<ul id="team_avatars">
<li><img src="/static/img/team/avatar_james.png" alt=""> James Aylett</li>
<li><img src="/static/img/team/avatar_richard.png" alt=""> Richard Boulton</li>
<li><img src="/static/img/team/avatar_natalie.png" alt=""> Natalie Downe</li>
<li><img src="/static/img/team/avatar_matt.png" alt=""> Matt Harris</li>
<li><img src="/static/img/team/avatar_chris.png" alt=""> Chris Lamb</li>
<li><img src="/static/img/team/avatar_cindy.png" alt=""> Cindy Li</li>
<li><img src="/static/img/team/avatar_niqui.png" alt=""> Niqui Merret</li>
<li><img src="/static/img/team/avatar_mazz.png" alt=""> Mazz Mosley</li>
<li><img src="/static/img/team/avatar_ben.png" alt=""> Ben Phillips</li>
<li><img src="/static/img/team/avatar_aaron.png" alt=""> Aaron Sokoloski</li>
<li><img src="/static/img/team/avatar_matthew.png" alt=""> Matthew Somerville</li>
<li><img src="/static/img/team/avatar_simon.png" alt=""> Simon Willison</li>
</ul>

<p>We really hope you have as much fun using it as we did building it, and that
it inspires you to take a fantastic trip to a zoo; just don&rsquo;t forget to drop by
and tell us all about it &ndash; we&rsquo;d love to hear it.</p>

{% endblock %}

