{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

<h1>Legal statement</h1>

<p>
We'd really rather not have scary legal things on our site, but prudence suggests we need something. We've tried to keep them short and as clear as possible.
</p>

<h2>Terms of Use</h2>

<p>
WildLifeNearYou.com (the "Service") is a service owned and operated by WildLifeNearYou.com Limited ("the Company"), registered 6781820 in England. It is provided as a free service to people wishing to record and share information about their visits to zoos, reserves and other places where animals, birds and other creatures may be spotted, and to share their passion for these creatures with each other. By using the Service, you agree to be bound by the following terms and conditions (the "Terms of Use").
</p>

<h3>Basic terms</h3>

<p class="meta">Don't upset people, don't break the law, don't add anyone else's copyrighted material to the site, and don't pretend to be us.</p>

<ol>
        <li>You must be sixteen years or older to use WildLifeNearYou.com.</li>
        <li>You are responsible for keeping your spotter password confidential. We recommend changing your password regularly, or using <a href="http://openid.net/">OpenId</a>.</li>
        <li>You are responsible for any activity that occurs under your account. In particular, you must not abuse, harrass, threaten or intimidate other spotters; and you must not use the Service for any illegal or unauthorised purpose.</li>
        <li>You are responsible for any information, photos, text, graphics or other content in any form which you submit to the Service. You may not submit and display on WildLifeNearYou.com any copyrighted material, trademarks or other proprietary material belonging to others without obtaining the prior written consent of the owner of such rights.</li>
        <li>You may not create or send unwanted email to any WildLifeNearYou.com spotters.</li>
        <li>You may not use the branding, styling or name of WildLifeNearYou.com in any way, without express permission.</li>
        <li>You may not imply that you, or anything activity you undertake, is connected with or authorised by the Company in any way, except as a user of WildLifeNearYou.com with no special privileges.</li>
</ol>

<h3>Copyright</h3>

<p class="meta">Anything you create is yours, but by adding it to the site you allow us to use it as well. A copyright owner, by demonstrating that something was added to the site without their permission, can ask for us to take it down.</p>

<ol>
        <li>We do not claim ownership or intellectual property rights over any information, photos, text, graphics or other content which you submit to the Service in course of normal use of the Service. However, by submitting such content to WildLifeNearYou.com, you grant the Company a non-exclusive, royalty-free, worldwide, perpetual and irrevocable right to use, reproduce, modify, distribute, sublicense, and prepare derivative works of, such content, in any format or medium now known or later developed, solely on and through the Service, subject to these Terms of Use. You represent and warrant that you have sufficient rights to grant this license.</li>        
        <li><p>The Company undertakes to obey all relevant copyright laws. We will review all claims of copyright infringement received and remove content deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following.</p>
                <ol>
                        <li>A physical or electronic signature of the copyright owner or the person authorised to act on its behalf;</li>
                        <li>A description of the copyrighted work claimed to have been infringed;</li>
                        <li>A description of the infringing material and information reasonably sufficient to permit the Company to locate the material;</li>
                        <li>Your contact information, including your address, telephone number, and email;</li>
                        <li>A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorised by the copyright owner, its agent, or the law; and</li>
                        <li>A statement that the information in the notification is accurate, and, under the pains and penalties of perjury, that you are authorised to act on behalf of the copyright owner.</li>
                </ol>
        <p>Claims can be sent to copyright (at) wildlifenearyou.com.</p>        
        </li>
</ol>


<h3>General conditions and limitation of liability</h3>

<p class="meta">WildLifeNearYou.com may change in future. Additionally, we may need to block people from the site, for instance if they are making it difficult for others to enjoy it. Also some basic legal information about the terms and conditions as a whole.</p>

<ol>
        <li>We reserve the right to modify or terminate WildLifeNearYou.com for any reason, without notice, at any time.</li>
        <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
        <li>We reserve the right in future to introduce premium features for which we may charge a subscription or other fee. Such premium features may be subject to additional terms and conditions.</li>
        <li>We reserve the right to alter these Terms of Use at any time in our sole discretion. If the alterations constitute a material change to the Terms of Use, we will notify registered users via Internet mail. What constitutes a &quot;material change&quot; will be determined at our sole discretion, in good faith and using common sense and reasonable judgement. Your sole remedy should you not agree with the altered Terms of Use shall be to cease using the Service.</li>
        <li>These Terms of Use shall be governed by the laws of England and you submit to the exclusive jurisdiction of the English courts.</li>
        <li>If any of the provisions of these Terms of Use are declared void or unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary and replaced with a valid provision that best embodies the initial intent of these terms and conditions, so that these terms and conditions shall remain in full force and effect.</li>
        <li>The Service is made available to you for your convenience on an "as is" and "as available" basis. the Company does not warrant or make any representations or warranties (including but not limited to merchantability, fitness for a particular purpose, satisfactory quality, reliability or non-infringement) regarding the use or the results of the use or the contents of the Service. You understand that the Service may have software "bugs" and may have other issues affecting availability and functionality. In addition to all other disclaimers and limitations of liability contained in these Terms of Use, you specifically agree that the Company is not liable for any of the above issues. Moreover, you understand that the Company does not warrant or represent that the Service will work on all mobile phones, will be compatible with all mobile phone networks and/or will be available in all geographical areas.</li>
        <li>The Company shall not be liable for any loss or damage, whether direct, indirect, special or consequential, arising out of the use of or the inability to use the Service, or the results or the contents thereof, to the greatest extent permitted by law.</li>
        <li>If you are dissatisfied with the Service, or have any other disputes or claims with or against the Company with respect to the Service or these Terms of Use, then your sole and exclusive remedy is to discontinue using the Service.</li>
</ol>

<h2>Privacy policy</h2>

<p class="meta">We will do our best to ensure that any private information we collect about you is not disclosed to anyone else, unless we are legally required to disclose it. This Privacy Policy is effective as of 1st March 2009.</p>

<p>By using the Service you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us.</p>

<h3>Information Collection and Use</h3>

<h4>Registration and account information</h4>

<p>All information which you provide in the process of registration, or at a later date in updating your account, may be displayed on the Service, or disclosed by other means, with the exception of email addresses and OpenId identifiers. We may use the latter to contact you about the Service or future offerings by the Company, including changes to the Terms of Use or Privacy Policy of the Service where appropriate.</p>

<h4>Log data</h4>

<p>When you use the Service, our servers automatically record information that your browser sends ("Log Data"), and which may include information such as your IP address, browser type, the domain from which you are visiting, the web-pages you visit, the search terms you use, and any advertisements on which you click. We use this Log Data to monitor use of the Service, and for the purposes of technical administration. We do not associate your IP address with any other personally identifiable information to identify you personally, except in case of violation of the Terms of Service.</p>

<h4>Cookies</h4>

<p>Like many websites, we also use &quot;cookie&quot; technology to collect additional website usage data and to improve the Service. A cookie is a small data file that we transfer to your computer's hard disk. We do not use cookies to collect personally identifiable information. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit; however disabling the use of cookies may stop some or all of the Service from working.</p>

<h3>Information sharing and disclosure</h3>

<p>Except as required by law, we will not disclose any information collected as described in this Privacy Policy except for to trusted third parties acting on behalf (including, without limitation, for the purposes of hosting and maintenance, database storage and management, and customer relationship management.)</p>

{% endblock %}
