{% extends base %}

{% block title %}Import from Flickr{% endblock %}

{% block content %}

<h1>Import from Flickr</h1>



<form action="{% url flickr-search %}" method="get">
	<p><label for="flickrsearch">Search for photos to import from your Flickr account by text or tag:</label></p>
	<p><input id="flickrsearch" type="search" name="q"> <input type="submit" value="Search your photos"></p>
</form>

<p>Or choose from photos in <a href="{% url flickr-sets %}">your sets</a>, <a href="{% url flickr-places %}">your places</a> or <a href="{% url flickr-groups %}">your groups</a>.</p>

{% if recent %}
<h2>Your most recent photos</h2>

<form action="/flickr/selected/" method="post">
	<ul class="photo-display">
		{% for photo in recent %}
		<li>
			<p><label for="import_{{ photo.id }}"><img src="{{ photo.square }}" width="75" height="75" alt="">
			<span class="import"><input type="checkbox" name="photo" value="{{ photo.signed }}" id="import_{{ photo.id }}"> Import</span></label></p>
			<p class="view"><a href="http://www.flickr.com/photo.gne?id={{ photo.id }}">View</a></p>
		</li>
		{% endfor %}
	</ul>
	<div class="button-container"><input type="submit" class="submit" value="Import these photos"></div>
</form>

{% endif %}

{% endblock %}