{% extends base %}

{% block title %}{{ title }}{% endblock %}

{% block primary_content %}

<h1>{{ title }}</h1>

<p>Select the photos you wish to import</p>

<form action="/flickr/selected/" method="post">
<ul>
	{% for photo in photos %}
	<li style="clear: both">
		<img src="{{ photo.square }}" class="pull-left" width="75" height="75">
		<p><input type="checkbox" name="photo" value="{{ photo.signed }}" id="import_{{ photo.id }}"> <label for="import_{{ photo.id }}">Import this</label></p>
	</li>
	{% endfor %}
</ul>
<p><input type="submit" class="submit" value="Import these photos"></p>
</form>

{% endblock %}
