{% extends base %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% if photos %}
    <p class="notification">Select the photos you wish to import</p>

    <form action="/flickr/selected/" method="post">
	    <ul class="photo-display">
	        {% for photo in photos %}
	        <li>
	            <p><label for="import_{{ photo.id }}"><img src="{{ photo.square }}" width="75" height="75" alt="">
		        <span class="import"><input type="checkbox" name="photo" value="{{ photo.signed }}" id="import_{{ photo.id }}"> Import</span></label></p>
	            <p class="view"><a href="http://www.flickr.com/photo.gne?id={{ photo.id }}">View</a></p>
	        </li>
	        {% endfor %}
	    </ul>
	    <div class="button-container"><input type="submit" class="submit" value="Import these photos"></div>
    </form>
{% else %}
    <p class="notification">No photos found.</p>
{% endif %}

{% endblock %}
