{% extends base %}

{% block title %}Import from your places on flickr{% endblock %}

{% block content %}

<h1>Import from Flickr</h1>

<form action="{% url flickr-search %}" method="get">
	<p><label for="flickrsearch">Search for photos to import from your Flickr account by text or tag:</label></p>
	<p><input id="flickrsearch" type="search" name="q"> <input type="submit" value="Search your photos"></p>
</form>

<p>Or choose from photos in <a href="{% url flickr-sets %}">your sets</a>, <a href="{% url flickr-groups %}">your groups</a> or <a href="{% url flickr %}">your recent photos</a>.</p>

<h2>Pick one of your places</h2>

{% if places.places.place %}

<ul>
	{% for place in places.places.place %}
	<li><p><strong><a href="/flickr/your-places/{{ place.woeid }}/">{{ place.content }}</a></strong> ({{ place.photo_count }} photo{{ place.photo_count|pluralize }})</p></li>
	{% endfor %}
</ul>
{% else %}
	<p class="notification">None of your Flickr photos belong to a place - maybe you haven't geotagged any photos yet? why not choose from <a href="{% url flickr %}">all your photos</a>, <a href="{% url flickr-sets %}">your sets</a> or <a href="{% url flickr-groups %}">your groups</a>.</p>
	
	<form action="{% url flickr-search %}" method="get">
		<p><label for="flickrsearch">Search for photos to import from your Flickr account by text or tag:</label></p>
		<p><input id="flickrsearch" type="search" name="q"> <input type="submit" value="Search your photos"></p>
	</form>
{% endif %}

{% endblock %}