{% extends "base.html" %}

{% block title %}Moderation overview{% endblock %}

{% block content %}

<h1>Moderation overview</h1>

<dl>
	<dt>Number of pending change groups</dt>
	<dd>{{ change_request_groups|length }}</dd>

	<dt>Total number of change requests<dt>
	<dd>{{ total_change_requests }}</dd>
</dl>

{% if change_request_groups %}
	<h2>Queue</h2>

	<ol>
	{% for crg in change_request_groups %}
		{% with crg.changerequest_set.all as cr %}
			<li>
			{{ cr|length }} change{{ cr|pluralize }} requested by <a href="{% url accounts-profile crg.created_by %}">{{ crg.created_by|title }}</a> {{ crg.created_at|timesince }} ago:

			<ol>
			{% for cr in crg.changerequest_set.all %}
				<li>
					{% switch cr.subclass %}
					
						{% case "ChangeAttributeRequest" %}
							"{{ cr.attribute }}" <em>{{ cr.old_value }}</em> -&gt; <em>{{ cr.new_value }}</em>
						{% endcase %}

						{% defaultcase %}
							<strong>FIXME:</strong> Unknown/unhandled ChangeRequest subclass
						{% enddefaultcase %}

					{% endswitch %}

					{% if cr.is_conflict %}
						<strong>(conflicts)</strong>
					{% endif %}
				</li>
			{% endfor %}
			</ol>

			</li>
		{% endwith %}
	{% endfor %}
	</ol>
{% endif %}

{% endblock %}
