{% extends "base.html" %}

{% block title %}Moderation overview{% endblock %}

{% block content %}

<h1>Moderation overview</h1>

<dl>
	<dt>Number of pending change groups</dt>
	<dd>{{ change_request_groups|length }}</dd>

	<dt>Total number of change requests<dt>
	<dd>{{ total_pending_change_requests }}</dd>
</dl>

{% if change_request_groups %}
	<h2>Queue</h2>

	{% if form.non_field_errors %}
		<p>The moderation request you just attempted to apply now conflicts with the current data - you will either have to force this change or delete the change altogether.</p>
	{% endif %}

	<ol>
	{% for crg in change_request_groups %}
		{% with crg.changerequest_set.all as pending_changes %}
			<li>
			{{ pending_changes|length }} change{{ cr|pluralize }} requested by <a href="{% url accounts-profile crg.created_by %}">{{ crg.created_by|title }}</a> {{ crg.created_at|timesince }} ago:

			<ul>
			{% for cr in pending_changes %}
			{% with cr.get_real as crs %}
				<li>
					{% switch cr.subclass %}
						{% case "ChangeAttributeRequest" %}
							Change the &ldquo;{{ crs.attribute }}&rdquo; attribute
								on the <em>{{ crs.content_object }}</em> {{ crs.content_type }}
								from &ldquo;<em>{{ crs.old_value }}</em>&rdquo; &rarr; &ldquo;<em>{{ crs.new_value }}</em>&rdquo;

								{% if crs.conflicts %}
									<strong>(change conflicts)</strong>
								{% endif %}

							{% if crs.conflicts %}
								<form action="{% url admin-moderation %}" method="post">
									<input type="hidden" name="changerequest" value="{{ cr.pk }}"/>
									<input type="hidden" name="action" value="force"/>
									<input type="submit" value="Force change"/>
								</form>
							{% else %}
								<form action="{% url admin-moderation %}" method="post">
									<input type="hidden" name="changerequest" value="{{ cr.pk }}"/>
									<input type="hidden" name="action" value="apply"/>
									<input type="submit" value="Apply change"/>
								</form>
							{% endif %}

							<form action="{% url admin-moderation %}" method="post">
								<input type="hidden" name="changerequest" value="{{ cr.pk }}"/>
								<input type="hidden" name="action" value="delete"/>
								<input type="submit" value="Delete change request"/>
							</form>
						{% endcase %}

						{% defaultcase %}
							<strong>FIXME:</strong> Unknown/unhandled ChangeRequest subclass
						{% enddefaultcase %}

					{% endswitch %}

				</li>

			{% endwith %}
			{% endfor %}
			</ul>

			</li>
		{% endwith %}
	{% endfor %}
	</ol>
{% else %}
	<p>Nothing to moderate.</p>
{% endif %}

{% endblock %}
