{% extends base %}

{% block title %}All photos{% endblock %}

{% block extra_head %}
<style type="text/css">
div.all-photos {
    margin-top: 1em;
    overflow: auto;
}
div.all-photos img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
</style>
{% endblock %}

{% block content %}
{% load thumbnail %}
<h1>All photos</h1>

<div class="all-photos">
{% for photo in photos %}
<a href="{{ photo.urls.absolute }}"><img alt="{{ photo.title }}" title="{{ photo.title }}" src="{% thumbnail photo.photo 150x150 crop %}"></a>
{% endfor %}
</div>

{% endblock %}
