{% extends base %}

{% block title %}All photos{% endblock %}

{% load pagination_tags %}

{% block extra_head %}
<style type="text/css">
div.all-photos {
	margin-top: 1em;
	overflow: auto;
}
div.all-photos img {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
</style>
{% endblock %}

{% block content %}
<div>
	<h2>All photos on WildlifeNearYou</h2>	
	{% autopaginate photos 32 %}
	{% paginate %}
	<ul class="photo-display">
		{% for photo in photos.all %}
			<li>
				<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
			</li>
		{% endfor %}
	</ul>
	{% paginate %}
</div>

{% endblock %}
