{% extends base %}

{% block title %}Edit photo details{% endblock %}

{% block primary_content %}

<h1>Edit photo details</h1>

<form method="post" action="{{ request.path }}">
{{ photo.thumb_75 }}

<div>
{{ form.title.errors }}
{{ form.title.label_tag }} {{ form.title }}
</div>

<div>
{{ form.trip.errors }}
{{ form.trip.label_tag }} {{ form.trip }}
{% if not photo.trip %}
<p>You must assign the photo to a trip before you can select the species in the photo.</p>
{% endif %}
</div>

<div><input type="submit" class="submit" value="Save changes to this photo"></div>

</form>


{% endblock %}

{% block secondary_content %}

{% if photo.trip %}
<h2>Species in this photo</h2>

<p>These are from your trip:</p>

<form action="../set-species/" method="POST">
<ul>
{% for species in photo.trip.species.all %}
<li class="checkbox-container"><input type="checkbox" name="saw" value="{{ species.id }}" id="s{{ species.id }}"> <label for="s{{ species.id }}">{{ species }}</label></li>
{% endfor %}
</ul>
<p><input type="submit" value="These animals are in this photo">
</form>

<p><a href="#">Add more</a> animals if you've missed any</p>
{% endif %}

{% endblock %}
