{% extends base %}{% load thumbnail %}

{% block title %}Edit photo details{% endblock %}

{% block primary_content %}

<h1>Edit photo details</h1>

{% if photo.photo %}
<img src="{% thumbnail photo.photo 600x600 %}">
{% else %}
<img src="http://static.flickr.com/{{ photo.flickr_server }}/{{ photo.flickr_id }}_{{ photo.flickr_secret }}.jpg">
{% endif %}

<form method="post" action="{{ request.path }}">

<div>
{{ form.title.errors }}
{{ form.title.label_tag }} {{ form.title }}
</div>

<div>
{{ form.trip.errors }}
{{ form.trip.label_tag }} {{ form.trip }}
{% if not photo.trip %}
<p>You must assign the photo to a trip before you can select the species in the photo.</p>
{% endif %}
</div>

<div><input type="submit" class="submit" value="Save details"></div>

</form>

<p><a href="{{ photo.get_absolute_url }}">Cancel</a> and return to photo</p>


{% endblock %}

{% block secondary_content %}

<!--
{% if photo.trip %}
<h2>Species in this photo</h2>

<p>These are from your trip:</p>

<form action="../set-species/" method="POST">
<ul class="nobullets">
{% for sighting in photo.trip.sightings.all %}
<li class="checkbox-container"><label for="s{{ sighting.id }}"><input type="checkbox" name="saw" value="{{ sighting.id }}" id="s{{ sighting.id }}"> {{ sighting.species_name }}</label></li>
{% endfor %}
</ul>
<p><input type="submit" value="Save these species">
</form>

<p><a href="{% url add-sightings-to-trip photo.trip.created_by.username photo.trip.pk %}">Add more</a> animals if you've missed any</p>
{% endif %}
-->

{% endblock %}
