{% extends base %}

{% load humanize %}

{% block title %}Fans of {{ photo }}{% endblock %}

{% block content %}

<h1>Fans of <a href="{{ photo.get_absolute_url }}">{{ photo }}</h1>

{% if fans %}
<ul class="spotter-list">
{% for user in fans %}
	<li>
		<img src="{{ user.get_profile.face_medium }}" width="75" height="75" alt="" class="pull-left avatar">
		<p><a class="spotter-name" href="{{ user.get_profile.urls.absolute }}">{{ user }}</a></p>
	</li>
{% endfor %}
</ul>
{% else %}
<p>No one has favourited this photo yet.</p>
{% endif %}

{% endblock %}
