{% extends base %}

{% block title %}{{ photo.title|default:"A photo" }} by {{ photo.created_by }}{% endblock %}

{% block primary_content %}

<h1>{{ photo.title }}</h1>

{% if photo.place %}
<p>Taken at <a href="{{ photo.place.urls.absolute }}">{{ photo.place }}</a></p>
{% endif %}

{% if photo.trip %}
<p>Taken on <a href="{{ photo.trip.get_absolute_url }}">{{ photo.trip }}</a></p>
{% endif %}


{% load thumbnail %}

{% if photo.photo %}
<img src="{% thumbnail photo.photo 600x600 %}">
{% else %}
<img src="http://static.flickr.com/{{ photo.flickr_server }}/{{ photo.flickr_id }}_{{ photo.flickr_secret }}.jpg">
{% endif %}

<div class="comments"><p class="trip-by">
<img src="{% url profile-image-resized photo.created_by.username %}" alt="" height="30" width="30">
By <a href="{% url accounts-profile photo.created_by.username %}">{{ photo.created_by|title }}</a>, added {{ photo.created_at|date:"jS F Y"}} (<a href="{{ photo.original_url }}">view original{% if photo.flickr_id %} on Flickr{% endif %}</a>)</p></div>

{% with photo.sightings.all as sightings %}
{% if sightings %}
<h2>Species in this photo:</h2>
<ul>
	{% for sighting in sightings %}
	<li>{% if sighting.species %}<a href="{{ sighting.species.get_absolute_url }}">{{ sighting.species }}</a>{% else %}{{ sighting.species_inexact }}{% endif %}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}

{% block secondary_content %}

{% if request.user.is_authenticated %}
	{% if favourited %}
	<form method="post" action="/favourites/photo/remove/{{ photo.pk }}/">
	<p>One of <a href="{% url user-photos-favourites user.username %}">your favourite photos</a></p>
	<p>
		<input type="hidden" name="next" value="{{ request_path }}">
		<input class="link" type="submit" value="Remove from favourites">
	</p>
	</form>
	{% else %}
	<form method="post" action="/favourites/photo/add/{{ photo.pk }}/">
	<p>
		<input type="hidden" name="next" value="{{ request_path }}">
		<input class="link" type="submit" value="Add to favourites">
	</p>
	</form>
	{% endif %}
{% endif %}

{% ifequal photo.created_by request.user %}
<p class="highlight"><a class="edit" href="{% url photo-edit photo.created_by.username photo.id %}">Edit photo</a> <a class="remove" href="delete/">Delete photo</a></p>
{% endifequal %}

{% with photo as object %}
	{% include "comments/_comments.html" %}
{% endwith %}
{% endblock %}
