{% extends "base.html" %}

{% block title %}{{ photo.title|default:"A photo" }} by {{ photo.created_by }}{% endblock %}

{% block content %}

<h1>{{ photo.title }}</h1>

{% if photo.place %}
<p>Taken at <a href="{{ photo.place.urls.absolute }}">{{ photo.place }}</a></p>
{% endif %}

<img src="{{ photo.photo.url }}">

<p>By <a href="/profile/{{ photo.created_by.username }}/">{{ photo.created_by }}</a>, uploaded {{ photo.created_at|date:"jS F Y"}}</p>

{% with photo as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

{% endblock %}

