{% extends base %}

{% load pagination_tags %}

{% block title %}All photos of {{ species.common_name }}{% endblock %}

{% block content %}

<h1>All photos of <a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a></h1>

<div>
	{% if not photos %}
		<p>There are no photos of this species yet.</p>
	{% else %}
		{% autopaginate photos 32 %}
		{% paginate %}
		<ul class="photo-display">
			{% for photo in photos %}
			<li>
				<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
			</li>
			{% endfor %}
		</ul>
		{% paginate %}
	{% endif %}
</div>

{% endblock %}
