{% extends base %}

{% load pagination_tags %}

{% block title %}{{ profile.user|title }}'s photos{% endblock %}

{% block content %}

<h1><a href="{{ profile.urls.absolute }}">{{ profile.user|title }}</a>{% if profile.user.get_full_name %} ({{ profile.user.get_full_name }}){% endif %}</h1>
{% if profile.badges.all %}
<ul>{{ profile.badges.all|unordered_list }}</ul>
{% endif %}

<p>
    <a href="{% url user-photos profile.user.username %}">all photos</a> | <strong>photos by trip</strong> | <a href="{% url user-photos-unassigned profile.user.username %}">unassigned photos</a>
</p>

<div>
    <h2>Photos</h2>
    {% for trip in trips %}
    <h3>{{ trip.trip }}</h3>
    <ul class="photos-list">
    {% for photo in trip.visible_photos %}
        <li>
            <a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
        </li>
    {% endfor %}
    </ul>
    <p><a href="{{ trip.trip.get_absolute_url }}">More on this trip</a>{% if trip.more_photos %} (including {{ trip.more_photos }} more photo{{ trip.more_photos|pluralize }}){% endif %}
    {% endfor %}
</div>

{% endblock %}
