{% extends base %}

{% load pagination_tags %}

{% block title %}{{ profile.user|title }}'s photos{% endblock %}

{% block content %}

<h1><a href="{{ profile.urls.absolute }}">{{ profile.user|title }}</a>{% if profile.user.get_full_name %} ({{ profile.user.get_full_name }}){% endif %}</h1>
{% if profile.badges.all %}
<ul>{{ profile.badges.all|unordered_list }}</ul>
{% endif %}

<p>
	<strong>all photos</strong> | <a href="{% url user-photos-by-trip profile.user.username %}">photos by trip</a> | <a href="{% url user-photos-unassigned profile.user.username %}">unassigned photos</a>{% ifequal profile.user user %} | <a href="{% url flickr %}">import from Flickr</a>{% endifequal %}
</p>

<div>
	{% if not photos %}
		<p>{{ profile.user.username }} has not yet imported any photos.</p>
	{% else %}
		<h2>Photos</h2>	
		{% with photos.all as photos %}
		{% autopaginate photos 30 %}
		{% paginate %}
		<ul class="photo-display">
				{% for photo in photos.all %}
						<li>
								<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
						</li>
				{% endfor %}
		</ul>
		{% paginate %}
		{% endwith %}
	{% endif %}
</div>

{% endblock %}
