{% extends base %}

{% block title %}{{ profile.user|title }}'s photos{% endblock %}

{% block content %}

<h1><a href="{{ profile.urls.absolute }}">{{ profile.user|title }}</a>{% if profile.user.get_full_name %} ({{ profile.user.get_full_name }}){% endif %}</h1>
{% if profile.badges.all %}
<ul>{{ profile.badges.all|unordered_list }}</ul>
{% endif %}

<p>
	<a href="{% url user-photos profile.user.username %}">all photos</a> | <a href="{% url user-photos-by-trip profile.user.username %}">photos by trip</a> | <strong>unassigned photos</strong>
</p>


{% if trip_count %}
<h2>Assign photos to trips</h2>
<p>Please tell us the trip on which you took these photos.</p>

{% if they_forgot_to_select_some_photos %}
<p class="notification">You forgot to select any photos!</p>
{% endif %}
{% if they_forgot_to_select_a_trip %}
<p class="notification">You forgot to select a trip!</p>
{% endif %}


<form action="{{ request_path }}" method="post">
<p>{{ form.trip.label_tag }} {{ form.trip }}</p>
{% with photos.all as photos %}
<ul class="photo-display">
{% for photo in photos.all %}
	<li>
		<label for="selectphoto_{{ photo.id }}">{{ photo.thumb_75_img }}
		<span class="import"><input id="selectphoto_{{ photo.id }}" type="checkbox" name="selected_photos" value="{{ photo.id }}"> add</span></label>
	</li>
{% endfor %}
</ul>
<p><input type="submit" value="Assign selected photos to the trip"></p>
</form>
{% endwith %}
{% else %}
<h2>Unassigned photos</h2>

<p class="notification">You have not yet created any trips. You must <a href="{% url add-trip %}">create a trip</a> before you can assign any photos.</p>
{% with photos.all as photos %}
<ul class="photo-display">
		{% for photo in photos.all %}
				<li>
						<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
				</li>
		{% endfor %}
</ul>
{% endwith %}
{% endif %}

{% endblock %}
