{% extends base %}

{% load pagination_tags %}

{% block title %}{{ profile.user }}'s photos by trip{% endblock %}

{% block content %}

<h1><a href="{{ profile.urls.absolute }}">{{ profile.user }}</a>{% if profile.user.get_full_name %} ({{ profile.user.get_full_name }}){% endif %}</h1>
{% if profile.badges.all %}
<ul>{{ profile.badges.all|unordered_list }}</ul>
{% endif %}

<p>
	<a href="{% url user-photos profile.user.username %}">all photos</a> | <strong>photos by trip</strong> | <a href="{% url user-photos-unassigned profile.user.username %}">unassigned photos</a> (<a href="{% url user-photos-unassigned-flickr-sets profile.user.username %}">by Flickr set</a>) | <a href="{% url user-photos-nospecies profile.user.username %}">photos with no species</a> | <a href="{% url user-photos-favourites profile.user.username %}">favourite photos</a>{% ifequal profile.user user %} | <strong><a href="{% url flickr %}">import from Flickr</a></strong>{% endifequal %}
</p>


{% if not trips %}
<p class="notification">{% ifequal profile.user user %}You have not yet created any trips. <a href="{% url add-trip %}">Create one now?</a>
{% else %}This user has not yet created any trips.{% endifequal %}
</p>
{% else %}
<h2>Photos by trip</h2>
{% for trip in trips %}
<h3>{{ trip.trip }}</h3>
<ul class="photo-display">
{% for photo in trip.visible_photos %}
   <li>
	   <a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
   </li>
{% endfor %}
</ul>
<p><a href="{{ trip.trip.get_absolute_url }}">More on this trip</a>{% if trip.more_photos %} (including {{ trip.more_photos }} more photo{{ trip.more_photos|pluralize }}){% endif %}
{% endfor %}
{% endif %}

{% endblock %}
