{% extends "base.html" %}

{% load favourites_extras %}

{% block title %}{{ species.common_name }} ({{ species.latin_name }}){% endblock %}

{% block content %}

<div id="main_stuff">

<h1>{{ species.common_name }} <i class="scientific">({{ species.latin_name }})</i></h1>

{% if species.description %}
<p>{{ species.description }}</p>
{% endif %}

{% if request.user.is_authenticated %}
	{% if favourited %}
	<p>This is one of your favourite animals! {% favourite_toggler "remove" species.slug request.path %}</a></p>
	{% else %}
	<p>{% favourite_toggler "add" species.slug request.path %}</p>
	{% endif %}
{% else %}
	<p><a href="{% url accounts-login %}">Login</a> or <a href="{% url accounts-register %}">register</a> to add this animal as one of your favourites.</p>
{% endif %}

{% if species.seen_at %}
<h2>See them here:</h2>
<ul>
    {% for place in species.seen_at %}
    <li><a href="{{ place.urls.absolute }}">{{ place }}</a></li>
    {% endfor %}
</ul>


{% endif %}

</div>

<div id="sidebar">

{% with species as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

</div>

{% endblock %}
