{% extends "base.html" %}

{% block title %}{{ species }}{% endblock %}

{% block content %}

<h1>{{ species }}</h1>
<p class="sub-head">{{ species.latin_name }}</p>

{% with species.enclosure_set.all as enclosures %}
    {% if enclosures %}
        <h2>See them here:</h2>
		<ul>
        {% for enclosure in enclosures %}
            <li>{{ enclosure }} at <a href="{{ enclosure.place.urls.absolute }}">{{ enclosure.place.known_as }}</a></li>
        {% endfor %}
		</ul>
    {% endif %}

{% endwith %}

{% endblock %}
