{% extends "base.html" %}

{% load favourites_extras %}

{% block title %}{{ species }}{% endblock %}

{% block content %}

<h1>{{ species }}</h1>
<p class="sub-head"><i class="scientific">{{ species.latin_name }}</i></p>

{% if request.user.is_authenticated %}
	{% if favourited %}
	<p>This is one of your favourite animals! {% favourite_toggler "remove" species.slug request.path %}</a></p>
	{% else %}
	<p>{% favourite_toggler "add" species.slug request.path %}</p>
	{% endif %}
{% else %}
	<p><a href="{% url accounts-login %}">Login</a> or <a href="{% url accounts-register %}">register</a> to add this animal as one of your favourites.</p>
{% endif %}

{% with species.enclosure_set.all as enclosures %}
    {% if enclosures %}
        <h2>See them here:</h2>
        <ul>
        {% for enclosure in enclosures %}
            <li>{{ enclosure }} at <a href="{{ enclosure.place.urls.absolute }}">{{ enclosure.place.known_as }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if species.seen_at %}
<h2>Our users have seen them here:</h2>
<ul>
    {% for place in species.seen_at %}
    <li><a href="{{ place.urls.absolute }}">{{ place }}</a></li>
    {% endfor %}
</ul>


{% endif %}

{% with species as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

{% endblock %}
