{% extends base %}

{% block title %}Search{% if q %}: "{{ q }}"{% endif %}{% endblock %}

{% block primary_content %}
<h1>Search{% if q %}: "{{ q }}"{% endif %}</h1>

<form action="/search/" method="GET">
    <p>
        <input type="text" name="q" value="{{ q }}" size="50">
        <input type="submit" value="Search">
    </p>
</form>

{% if q and not results %}
<p>I'm afraid your search returned no results. Try something else?</p>
{% if request.user.is_staff %}
    <p>If you're a developer, try running <samp>./manage.py reindex_places</samp></p>
{% endif %}
{% endif %}

{% if q and results and results_corrected_q %}

We couldn't find any results for {{ q }}, so we thought you might like these results for {{ results_corrected_q }}.

{% endif %}

{% if location_results %}
<ul>
    {% for location in location_results %}
    <li>Did you mean places <a href="/search/?near={{ location.latlon|urlencode }}">near {{ location.description }}</a>?</li>
    {% endfor %}
</ul>
{% endif %}

{% if results %}
    <ol>
    {% for place in results %}
        <li>
            <h4><a href="{{ place.get_absolute_url }}">{{ place }}</a>, {{ place.country }} <a href="{{ place.country.get_absolute_url }}" class="flag"><img width="16" height="11" src="/static/img/flags/{{ place.country.country_code }}.gif" alt="Flag of {{ place.country }}"></a>
            {% if place.distance %}{{ place.distance|floatformat:0 }} miles away{% endif %}
            </h4>
            {% if place.address %}<p>{{ place.address }}</p>{% endif %}
            {% if place.species_list %}
            <ul class="species_list">
            {% for species in place.species_list %}
            	<li><span class="cloud-quad-{{ species.quad }}" title="{{ species.count }} seen"><a href="{% filter lower %}{% url place-species-view place.country.country_code,place.slug,species.slug %}{% endfilter %}"{% if species.matches_search %} style="color: red"{% endif %}>{{ species.common_name }}</a></span></li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endif %}
{% if request.user.is_staff %}
    <h4><a class="toggler" href="#debug-results">Debug info (developers only)</a></h4>
    <pre id="debug-results" style="font-size:0.85em">{{ results_info }}</pre>
{% endif %}

{% endblock %}

{% block secondary_content %}

{% if species_results %}
    <h4>Matching species</h4>
    <ol>
    {% for result in species_results %}
        <li><a href="{{ result.get_absolute_url }}">{{ result.common_name }}</a> <i class="scientific">{{ result.latin_name }}</i></li>
    {% endfor %}
    </ol>
{% endif %}
{% if request.user.is_staff %}
    <h4><a class="toggler" href="#debug-species-results">Debug info (developers only)</a></h4>
    <pre id="debug-species-results" style="font-size:0.85em">{{ species_results_info }}</pre>
{% endif %}

{% endblock %}
