{% extends base %}

{% block title %}Search{% if q %}: &ldquo;{{ q }}&rdquo;{% endif %}{% endblock %}

{% block content_title %}
<h1>Look for species{% if q %}: &ldquo;{{ q }}&rdquo;{% endif %}</h1>
{% endblock %}

{% block primary_content %}

<form action="/search/species/" method="GET">
	<div class="container text-container">
		<input type="text" name="q" value="{{ q }}" size="50">
		<input type="submit" value="Search">
	</div>
</form>

{% if species_results %}
	<h4>Matching species</h4>
	<ol class="animal-list">
	{% for species in species_results %}
			<li>
					<div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
					<p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a></p>
					<p><i class="scientific">{{ species.latin_name }}</i></p>
			</li>
	{% endfor %}
	</ol>
	{% if species_results_more %}
			<a href="{% url species-search %}?q={{ q|urlencode }}">More matching species…</a>
	{% endif %}
{% endif %}

{% if request.user.is_staff %}
	<h4><a class="toggler" href="#debug-species-results">Debug info (developers only)</a></h4>
	<pre id="debug-species-results" style="font-size:0.85em">{{ species_results_info }}</pre>
{% endif %}

{% endblock %}
