{% extends base %}

{% block title %}Search{% if q %}: &ldquo;{{ q }}&rdquo;{% endif %}{% endblock %}

{% block search_form %}{% endblock %}

{% block content_title %}
<h1>Look for{% if q %}: &ldquo;{{ q }}&rdquo;{% endif %}</h1>
{% endblock %}

{% block primary_content %}

<form action="/search/" method="GET">
    <div class="container text-container">
        <input type="text" name="q" value="{{ q }}" size="50">
        <input type="submit" value="Search">
    </div>
</form>

{% if q and not results %}
<p class="notification">I&rsquo;m afraid your search returned no results. Try something else?</p>
{% if request.user.is_staff %}
    <p class="notification">If you&rsquo;re a developer, try running <samp>./manage.py reindex_places</samp></p>
{% endif %}
{% endif %}

{% if q and results and results_corrected_q %}

<p class="notification">
We couldn&rsquo;t find any results for {{ q }}, so we thought you might like these results for &ldquo;{{ results_corrected_q }}&rdquo;.
</p>

{% endif %}

{% if location_results %}
<ul>
    {% for location in location_results %}
    <li>Did you mean places <a href="/search/?near={{ location.description|urlencode }}">near {{ location.description }}</a>?</li>
    {% endfor %}
</ul>
{% endif %}

{% if results %}
    <ol class="place-list">
    {% for place in results %}
    <li>
    {% include "places/_place.html" %}
    </li>
    {% endfor %}
    </ol>
{% endif %}
{% if request.user.is_staff %}
    <h4><a class="toggler" href="#debug-results">Debug info (developers only)</a></h4>
    <pre id="debug-results" style="font-size:0.85em">{{ results_info }}</pre>
{% endif %}

{% endblock %}

{% block secondary_content %}

{% if species_results %}
    <h4>Matching species</h4>
    <ol class="animal-list">
    {% for species in species_results %}
            <li>
                    <div class="thumb-75">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
                    <p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a></p>
                    <p><i class="scientific">{{ species.latin_name }}</i></p>
            </li>
    {% endfor %}
    </ol>
    {% if species_results_more %}
            <a href="{% url species-search %}?q={{ q|urlencode }}">More species matching &ldquo;{{ q }}&rdquo;…</a>
    {% endif %}
{% endif %}

{% if request.user.is_staff %}
    <h4><a class="toggler" href="#debug-species-results">Debug info (developers only)</a></h4>
    <pre id="debug-species-results" style="font-size:0.85em">{{ species_results_info }}</pre>
{% endif %}

{% if users_results %}
    <h4>Matching users</h4>
    <ol class="spotter-list">
            {% for profile in users_results %}
            <li>
                    <img src="/faces/medium/{{ profile.user.username }}.png" width="75" height="75" alt="" class="pull-left">
                    <p><a class="spotter-name" href="{{ profile.urls.absolute }}">{{ profile.user }}</a></p>
            </li>
            {% endfor %}
    </ol>
{% endif %}

{% if request.user.is_staff %}
    <h4><a class="toggler" href="#debug-users-results">Debug info (developers only)</a></h4>
    <pre id="debug-users-results" style="font-size:0.85em">{{ users_results_info }}</pre>
{% endif %}

{% endblock %}
