{% extends "base.html" %}

{% block title %}Search{% if q %}: "{{ q }}"{% endif %}{% endblock %}

{% block primary_content %}
<h1>Search{% if q %}: "{{ q }}"{% endif %}</h1>

<form action="/search/" method="GET">
    <p>
        <input type="text" name="q" value="{{ q }}" size="50">
        <input type="submit" value="Search">
    </p>
</form>

{% if q and not results %}
<p>I'm afraid your search returned no results. Try something else?</p>
{% if request.user.is_staff %}
    <p>If you're a developer, try running <samp>./manage.py reindex_places</samp></p>
{% endif %}
{% endif %}

{% if results %}
    <ol>
    {% for result in results %}
        <li>
            <h4><a href="{{ result.get_absolute_url }}">{{ result }}</a></h4>
            <p>{{ result.description }}</p>
            
        </li>
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}

{% block secondary_content %}
<!-- We could put the species search results here -->
{% endblock %}
