{% extends base %}

{% block title %}Which wildlife photo is better?{% endblock %}

{% block extra_body %}class="fixed"{% endblock %}

{% block content %}
	<h1>Which <a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a> photo is better?</h1>
	{% load thumbnail %}

	<form action="{{ request_path }}" method="post" class="bestpic">
		<div class="photo1">
			{% if photo1.photo %}
				<input type="image" src="{% thumbnail photo1.photo 500x500 %}" name="winner" value="{{ photo1.pk}}" style="margin-left: -{{ photo1.half_width_max_500 }}px; margin-top: -{{ photo1.half_height_max_500 }}px">
			{% else %}
				<input type="image" src="http://static.flickr.com/{{ photo1.flickr_server }}/{{ photo1.flickr_id }}_{{ photo1.flickr_secret }}.jpg" name="winner" value="{{ photo1.pk}}" style="margin-left: -{{ photo1.half_width_max_500 }}px; margin-top: -{{ photo1.half_height_max_500 }}px">
			{% endif %}
		</div>
		<em>OR</em>
		<div class="photo2">
			{% if photo2.photo %}
				<input type="image" src="{% thumbnail photo2.photo 500x500 %}" name="winner" value="{{ photo2.pk}}" style="margin-left: -{{ photo2.half_width_max_500 }}px; margin-top: -{{ photo2.half_height_max_500 }}px">
			{% else %}
				<input type="image" src="http://static.flickr.com/{{ photo2.flickr_server }}/{{ photo2.flickr_id }}_{{ photo2.flickr_secret }}.jpg" name="winner" value="{{ photo2.pk}}" style="margin-left: -{{ photo2.half_width_max_500 }}px; margin-top: -{{ photo2.half_height_max_500 }}px">
			{% endif %}
		</div>
		<div>
			<a href="{% url bestpic %}" class="skip">skip</a>
			<input type="hidden" name="options" value="{{ options }}">
		</div>
	</form>

	
	{% if last_species %}
		<h2>You just rated <a href="{{ last_species.get_absolute_url }}">{{ last_species.common_name }}</a> photos</h2>
		
		<div class="photo-listing">
			<a href="{{ last_winner.get_absolute_url }}" class="pull-left">{{ last_winner.thumb_75_img }}</a>
			<h3><a href="{{ last_winner.get_absolute_url }}">You picked</a></h3>
			<p>Taken by <a href="{% url accounts-profile last_winner.created_by.username %}">{{ last_winner.created_by }}</a> <img src="{{ last_winner.created_by.get_profile.face_tiny }}" alt="" class="avatar"></p>
			
			<p><strong>Score:</strong> {{ winner_score|floatformat:"2" }}% <span class="meta">&mdash; {{ winner_times_won }} win{{ winner_times_won|pluralize }} out of {{ winner_times_seen }} match{{ winner_times_seen|pluralize:',es' }}</span></p>
			
		</div>
		
		<div class="photo-listing">
			<a href="{{ last_loser.get_absolute_url }}" class="pull-left">{{ last_loser.thumb_75_img }}</a>
			<h3><a href="{{ last_loser.get_absolute_url }}">You didn't pick</a></h3>
			<p>Taken by <a href="{% url accounts-profile last_loser.created_by.username %}">{{ last_loser.created_by }}</a> <img src="{{ last_loser.created_by.get_profile.face_tiny }}" alt="" class="avatar"></p>
			<p><strong>Score:</strong> {{ loser_score|floatformat:"2" }}% <span class="meta">&mdash; {{ loser_times_won }} win{{ loser_times_won|pluralize }} out of {{ loser_times_seen }} match{{ loser_times_seen|pluralize:',es' }}</span></p>
			
		</div>
		
		{% if show_link_to_best %}
			<p class="intro">See the best <a href="{% url bestpic-of-species last_species.slug %}">{{ last_species.common_name }} photos</a>!</p>
		{% endif %}
		
	{% endif %}

{% endblock %}
