{% extends base %}{% load cache %}

{% block title %}Explore{% endblock %}

{% block content_title %}
	<h1>Explore WildlifeNearYou</h1>
{% endblock %}

{% block primary_content %}
	
	{% if is_logged_in %}
		<h2 class="initial">Recent photos of your favourite animals</h2>
	
		<ul class="photo-display">
			{% for photo in photos_of_your_favourites %}
				<li>
					<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
				</li>
			{% endfor %}
		</ul>	
		<h2>Recently uploaded photos</h2>
		
	{% else %}
		<h2 class="initial">Recently uploaded photos</h2>
	{% endif %}
	
	
	<ul class="photo-display">
		{% for photo in photos %}
			<li>
				<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.thumb_75 }}</a>
			</li>
		{% endfor %}
	</ul>
	
	{% if trips_to_places_you_have_been %}
		<h2>Recent trips to places you have been</h2>
		<ul class="teaserlist">
			{% for trip in trips_to_places_you_have_been %}
			<li>
				<img src="{{ trip.created_by.get_profile.face_medium }}" width="75" height="75" alt="{{ trip.created_by }}" class="image avatar">
				<h3><a href="{{ trip.urls.absolute }}">{{ trip.title_no_date }}</a><span class="meta">{{ trip.formatted_date }}</span>
				</h3>
			<p><strong><a href="{% url accounts-profile trip.created_by %}">{{ trip.created_by }}</a></strong> visited <a href="{{ trip.place.get_absolute_url }}">{{ trip.place }}</a>{% if trip.species.length %} and saw {% for species in trip.species.all|slice:":3" %}{% if forloop.last and not forloop.first and not trip.more_than_three_species %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ species.get_absolute_url }}">{{ species.plural|lower }}</a>{% endfor %}{% if trip.more_than_three_species %} and <a href="{{ trip.urls.absolute }}">more&hellip;</a>{% endif %}.{% endif %}</p>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	<h2>Recently added trips</h2>
	<ul class="teaserlist">
		{% for trip in recent_trips %}
		<li>
			<img src="{{ trip.created_by.get_profile.face_medium }}" width="75" height="75" alt="{{ trip.created_by }}" class="image avatar">
			<h3><a href="{{ trip.urls.absolute }}">{{ trip.title_no_date }}</a><span class="meta">{{ trip.formatted_date }}</span>
			</h3>
		<p><strong><a href="{% url accounts-profile trip.created_by %}">{{ trip.created_by }}</a></strong> visited <a href="{{ trip.place.get_absolute_url }}">{{ trip.place }}</a>{% if trip.species.length %} and saw {% for species in trip.species.all|slice:":3" %}{% if forloop.last and not forloop.first and not trip.more_than_three_species %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ species.get_absolute_url }}">{{ species.plural|lower }}</a>{% endfor %}{% if trip.more_than_three_species %} and <a href="{{ trip.urls.absolute }}">more&hellip;</a>{% endif %}.{% endif %}</p>
		</li>
		{% endfor %}
	</ul>

{% endblock %}

{% block secondary_content %}
	<h2 class="initial">Things to do</h2>
	<div class="intro">
		<p>Play with <a href="{% url bestpic %}">picking best photos</a></p>
		<p>Help <a href="{% url help-identify-species %}">add species to unassigned photos</a></p>
		<p class="add"><a href="/add-trip/">Add a trip</a></p>
		<p class="add"><a href="/flickr/">Import photos from flickr</a></p>
		<p>Check out the <a href="{% url popular %}">popular or unusual animals</a></p>
		<p>Look at <a href="/recent/">recent activity</a> on the site</p>
		<p>See all the <a href="/gb/">places in the UK</a></p>
		<p>View <a href="{% url all-species %}">all the animals</a></p>
	</div>
	
	{% if is_logged_in %}
	<h2>Your favourite animals</h2>
		<ol class="animal-list">
			{% for favourite in favourite_species %}
				<li>
					<div class="thumbnail">{% with favourite.species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
					<p><a class="animal-name" href="{{ favourite.species.urls.absolute }}">{{ favourite.species.common_name }}</a></p>
					<p><i class="scientific">{{ favourite.species.latin_name }}</i></p>
					{% ifequal user user %}
					<form method="post" action="/favourites/species/remove/{{ favourite.species.pk }}/">
						<p>
							<input type="hidden" name="next" value="{{ request.path }}">
							<input class="link submit" type="submit" value="Remove">
						</p>
					</form>
					{% endifequal %}
				</li>
			{% endfor %}
		</ol>	
	{% endif %}
{% endblock %}
