{% extends base %}

{% load zoocommon %}

{% block title %}Popular animals{% endblock %}

{% block content_title %}

<h1>Popular animals</h1>

{% endblock %}

{% block primary_content %}

<h2>Most favourited animals</h2>

{% if species_list %}
<ol class='animal-list'>
  {% for species in species_list %}
  <li>
		  <div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
		  <p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a> <span class="meta">(favourited {{ species.count|oncetimes }})</span></p>
		  <p><i class="scientific">{{ species.latin_name }}</i></p>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No animals have been favourited yet.</p>
{% endif %}

{% endblock %}

{% block secondary_content %}

<h2>Unusual animals</h2>

{% if species_list %}
<ol class="animal-list">
  {% for species in obscure_species %}
  <li>
		  <div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
		  <p><a class="animal-name" href="{{ species.urls.absolute }}">{{ species.common_name }}</a> <span class="meta">(spotted {{ species.sightings.all.count|oncetimes }})</span></p>
		  <p><i class="scientific">{{ species.latin_name }}</i></p>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No animals have been seen yet.</p>
{% endif %}

{% endblock %}
