{% extends base %}

{% block title %}Welcome to SEDF App{% endblock %}

{% block extra_head %}
<script type="text/javascript"
    src="/static/js/jquery-autocomplete/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css"
    href="/static/js/jquery-autocomplete/jquery.autocomplete.css">

<script type="text/javascript">
jQuery(function($) {
    $("#id_location").autocomplete('{% url geonames-autocomplete %}', {
        parse: function(data) {
            return $.map(eval('(' + data + ')')['results'], function(row) {
                return {
                    data: row,
                    value: row.name,
                    result: row.name
                }
            });
        },
        formatItem: function(item) {
            return item.name;
        }
    });
});

</script>
{% endblock %}

{% block content %}

{% include "homepage/dev.html" %}

{% endblock %}
