{% extends base %}

{% block fulltitle %}Wildlife Near You{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}


{% block extra_body %} id="home"{% endblock %}

{% block search_form %}{% endblock %}

{% block vanilla %}

<ul class="photostrip">
	{% for photo in recent_photos %}
	<li>{{ photo.thumb_75 }}</li>
	{% endfor %}
</ul>


<div class="receptacle intro-block">
	<div class="wrapper">
		<div class="contents">
			<div class="interact">
				{% if user.is_authenticated %}
				<h2>Welcome back</h2>
				<form action="/add-trip/" method="GET">
					<div class="container text-container">
						<label for="search-place">Add a trip to...</label>
						<input type="text" class="text" name="q" id="search-place">
					</div>
					<div>
						<input type="submit" value="Find this place" class="submit">
					</div>
					</form>
				{% else %}
				<h2>Register now</h2>
				<p class="meta">Already a member? <a href="{% url accounts-login %}" class="action">&raquo; <span>Log in now</span></a></p>
				<form action="{% url accounts-register %}" method="post">
					<div class="container text-container">
						<label for="id_username">desired username</label>
						<input id="id_username" type="text" name="username" maxlength="30" />
					</div>
					<div class="container text-container">
						<label for="id_email">e-mail</label>
						<input id="id_email" type="text" name="email" maxlength="75" />
					</div>
					<!-- We're thinking we might ask them to set a password
						AFTER they've validated their e-mail! -->
					<div class="container text-container">
						<label for="id_password1">password</label>
						<input type="password" name="password1" id="id_password1" />
					</div>
					<div class="container text-container">
						<label for="id_password2">confirm password</label>
						<input type="password" name="password2" id="id_password2" />
					</div>
					<div><input type="submit" class="submit" value="&raquo; Go for it"></div>	
				</form>
				{% endif %}
			</div>
			<h2>Hello there{% if user.is_authenticated %}, {{ user.username }}{% endif %}!</h2>
<!--				<h2 style="font-family: georgia">Hello there!</h2>
			<h2 style="font-family: courier">Hello there!</h2>
			<h2 style="font-family: arial">Hello there!</h2>
			<h2 style="font-family: helvetica">Hello there!</h2>
			<h2 style='font-family: "times new roman"'>Hello there!</h2>
			<h2>Hello there!</h2>
-->
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>
	</div>
</div>

<div class="receptacle look-for">
	<div class="wrapper">
		<div class="contents">
			<form action="/search/" method="get">
				<div class="container">
					<label for="q">Look for</label>
					<input type="text" class="text" id="q" name="q" size="50" value="{{ default_search }}">
					<input type="submit" class="submit" value="&raquo; Search">
				</div>
				<p class="meta examples">Try <a href="/search/?q=otters">otters</a>, <a href="/search/?q=tigers+near+{{ location|default:"london"|lower|iriencode }}">tigers near {{ location|default:"london"|lower }}</a>, <a href="/search/?q=new+zealand">new zealand</a> or your favourite animal</p>
			</form>
		</div>
	</div>
</div>

{% comment %}
<!-- No map yet - PLEASE DO NOT REMOVE! - talk to Nat about this
<div class="receptacle browse">
	<div class="wrapper">
		<div class="contents">
			<div class="primary">
				<img src="/static/img/site-images/map_placeholder.gif">
			</div>
			<div class="secondary">
				<p class="intro">We're currently listing <strong>123</strong> wildlife places!</p>
			</div>
		</div>
	</div>
</div>
-->
{% endcomment %}

<div class="receptacle featured">
	<div class="wrapper">
		<div class="contents">
			<div class="column first vcard">
				<h2>Featured place</h2>
				{% if featured.place %}
				{% with featured.place as place %}
				{% with place.random_photo as photo %}
				{% if photo %}
				{{ photo.thumb_75_pull_left }}
				{% endif %}
				{% endwith %}
				<h3><a class="fn org url" href="{{ place.get_absolute_url }}">{{ place.known_as }}</a></h3>
				<p>In {% if place.rough_location %}{{ place.rough_location }}, {% endif %}<a href="/{{ place.country.country_code }}/">{{ place.country }}</a>, visited by <strong>{{ place.num_visitors }}</strong> spotter{{ place.num_visitors|pluralize }}.</p>
				<!--<p class="address">
					<span class="street-address">Regents Park</span><br>
					<span class="locality">London</span><br>
					<span class="postal-code">NW1 4RY</span>, <abbr class="country-name" title="United Kingdom">GB</abbr>
				</p>-->
<!--				<p class="description">ZSL London Zoo is the world's oldest scientific zoo. It was opened in London on April 27, 1828, and was originally intended to be used as a collection for scientific study. </p> -->
                                {% if place.species.count %}
				<h4>Animals spotted here</h4>
				<p>{% for species in place.species|slice:":10" %}<a href="{% url place-species-view place.country.country_code,place.slug,species.slug %}">{{ species.common_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
				and <a href="{{ place.urls.species }}">more&hellip;</a>
				</p>
				{% endif %}
				{% endwith %}
				{% else %}
				<p>There is no currently featured place. If you start adding your trips, your local place might be shown here!</p>
				{% endif %}
			</div>
			<div class="column">
				{% if featured.species %}
				{% with featured.species as species %}
				<h2>Featured animal</h2>
				{% with species.random_photo as photo %}
				{% if photo %}
				{{ photo.thumb_75_pull_left }}
				{% endif %}
				{% endwith %}
				<h3><a href="{{ species.get_absolute_url }}">{{ species.common_name }}</a></h3>
				{% if species.nearest %}
				<p>There's a {{ species.common_name }} at <a href="{{ species.nearest.urls.absolute }}">{{ species.nearest }}</a>, <strong>{{ species.nearest.distance_miles|floatformat }} mile{{ species.nearest.distance_miles|pluralize }}</strong> away from you!</p>
				{% endif %}
				{% if species.sightings.count %}
				<h4>Recently spotted at</h4>
				<ul>
					{% for sighting in species.sightings.all|slice:":2" %}
					<li><a href="{{ sighting.place.urls.absolute }}">{{ sighting.place }}</a> by <a href="{% url accounts-profile sighting.created_by.username %}/">{{ sighting.created_by.username }}</a>
					{% if sighting.trip %}
					{{ sighting.trip.formatted_date }}
					{% endif %}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				{% else %}
				<h2>Featured animal</h2>
				<p>No currently featured animal. If you mark an animal as your favourite, it might be shown here!</p>
				{% endif %}
			</div>
			<div class="column">
				<h2>Featured spotter</h2>
                    	        {% if featured.profile %}
                    	        {% with featured.profile as profile %}
                    	        {{ profile.avatar_img_75_pull_left }}
				<img src="/faces/sedf.png" width="75" height="75" alt="" class="pull-left">
				<h3><a href="{{ profile.urls.absolute }}">{{ profile.user.username }}</a></h3>
				{% if profile.passport.seen_species %}
				<p>Has spotted
                                {% if profile.passport.favourite_species.count %}
                                {% with profile.passport.favourite_species.0 as favourite %}
				{% for species in profile.passport.seen_species|slice:":5" %}{% ifnotequal favourite species %}<a href='{{ species.urls.absolute }}'>{{ species.plural|lower }}</a>{% if not forloop.last %}, {% endif %}{% endifnotequal %}{% endfor %}
				and really likes <a href='{{ favourite.urls.absolute }}'>{{ favourite.plural|lower }}</a>!
				{% endwith %}
                                {% else %}
				{% for species in profile.passport.seen_species|slice:":5" %}<a href='{{ species.urls.absolute }}'>{{ species.plural|lower }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
				{% endif %}
				{% else %}
				{% if profile.passport.favourite_species.count %}
                                {% with profile.passport.favourite_species.0 as favourite %}
				Hasn't spotted anything yet, but really likes <a href='{{ favourite.urls.absolute }}'>{{ favourite.plural|lower }}</a>!
				{% endwith %}
				{% endif %}
				{% endif %}
				</p>
				{% if profile.user.created_trip_set.count %}
				<h4>Recent trips</h4>
				<ul>
				        {% for trip in profile.user.created_trip_set.all|slice:":2" %}
					<li><a href="{{ trip.urls.absolute }}">{{ trip.title_no_date }}</a> {{ trip.formatted_date }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if profile.visible_photos.count %}
					<p>Why not <a href="{% url accounts-profile-photos profile.user.username %}">check out their photos</a>?</p>
				{% endif %}
                    	        {% endwith %}
                    	        {% else %}
                    	        <p>There is no currently featured spotter. If you start adding your trips, you could be highlighted here!</p>
                    	        {% endif %}
			</div>
		</div>
	</div>
</div>

<div class="receptacle browse">
	<div class="wrapper">
		<div class="contents">
			<div class="primary">
				<h2>Recent Trips</h2>
				<ul class="teaserlist">
					{% for trip in recent_trips %}
					<li>
						<img src="/faces/{{ trip.created_by }}.png" width="75" height="75" alt="{{ trip.created_by }}" class="image">
						<h3><a href="{{ trip.urls.absolute }}">{{ trip.title_no_date }}</a><span class="meta">{{ trip.formatted_date }}</span>
						</h3>
					<p><strong><a href="{% url accounts-profile trip.created_by %}">{{ trip.created_by }}</a></strong> visited {% for place in trip.places.all.distinct %}<a href="{{ place.get_absolute_url }}">{{ place }}</a>{% if not forloop.last %} and {% endif %}{% endfor %} and saw {% for species in trip.species.all|slice:":3" %}{% if forloop.last and not forloop.first and not trip.more_than_three_species %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ species.get_absolute_url }}">{{ species.plural|lower }}</a>{% endfor %}{% if trip.more_than_three_species %} and <a href="{{ trip.urls.absolute }}">more&hellip;</a>{% endif %}.</p>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="secondary">
				<p class="intro">We're currently listing <strong>{{ num_of_places }}</strong> wildlife place{{ num_of_places|pluralize }}!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
