{% extends base %}

{% load humanize %}

{% block title %}Welcome to SEDF App{% endblock %}

{% block search_form %}{% endblock %}

{% block extra_head %}
<script type="text/javascript"
	src="/static/js/jquery-autocomplete/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css"
	href="/static/js/jquery-autocomplete/jquery.autocomplete.css">

<script type="text/javascript">
jQuery(function($) {
	$("#id_location").autocomplete('{% url location-complete %}', {
		parse: function(data) {
			return $.map(eval('(' + data + ')')['results'], function(row) {
				return {
					data: row,
					value: row.name,
					result: row.name
				}
			});
		},
		formatItem: function(item) {
			return item.name;
		}
	});
});

</script>
{% endblock %}

{% block extra_body %}id="home"{% endblock %}

{% block vanilla %}

{% if user.is_superuser %}{% include "homepage/dev.html" %}{% endif %}

<div class="contents">
	<div class="wrapper">
		<div class="primary">
		{% if user.is_authenticated %}
			<h1>Well hey {{ user.username|title }}</h1>
			<p> Welcome back. View your <a href="{% url accounts-default %}">profile</a> or <a href="{% url accounts-logout %}">logout</a>?</p>
		{% else %}
			<h1>Hello there.</h1>
			<p>We&rsquo;re very happy that you&rsquo;ve decided to drop
by. This is a community site about zoos &amp; the vast amount of amazing
creatures that inhabit our beloved Planet.</p>

			<p>We&rsquo;re relying on you, yes YOU to make this site truly awesome (we&rsquo;re not just saying that!)! Share your experiences and create your animal passport, to personalize your visit.</p>
			<p>How exciting is that! Come on in, be a part of it and <a href="{% url accounts-register %}">sign up now!</a></p>

		{% endif %}

<div class="interaction">
	<div class="contents">
		<div class="wrapper">
			<form action="/search/" method="GET">
				<div class="container">
					<label for="q">Look for</label>
					<div>
						<input type="text" id="q" name="q" size="50" value="{{ default_search }}">
						<input type="submit" value="Search">
						<p>Try "Lions near London", "Tigers" or why not try and find your favourite animal?</p>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>

<p>We don't have browse or search hooked up yet, so try <a href="/places/">our list of places</a></p>


			{% if user.is_authenticated %}
							{% if recent_sightings_favourites %}
							<h2>Latest sightings of your favourite animals</h2>
							<ol>
							{% for sighting in recent_sightings_favourites|slice:":10" %}
							<li><a href="{{ sighting.species.urls.absolute }}">{{ sighting.species.common_name }}</a>
							at <a href="{{ sighting.place.urls.absolute }}">{{ sighting.place|title }}</a>
							{% endfor %}
							</ol>
							{% endif %}
			{% endif %}

		</div>
		<div class="secondary">
			{% if not user.is_authenticated %}
			<div class="signup">
				<h2>Sign up NOW</h2>
				<p>Already a member? <a href="{% url accounts-login %}">&raquo; Log in now</a></p>
				<form action="{% url accounts-register %}" method="POST">
				<p>I love animals. Sure, I&rsquo;ll try this out!
					<input type="submit" value="Register"></p>
				</form>
			</div>

			<p style="margin-top:1em; margin-bottom:0" align="center"><img src="/static/img/site-images/map_placeholder.gif" alt="world map" width="300" style="border: solid 1px #cccccc"></p>

						{% else %}

							{% if recent_sightings %}
							<h2>Latest sightings</h2>
							<ol>
							{% for sighting in recent_sightings|slice:":10" %}
							<li><a href="{{ sighting.species.urls.absolute }}">{{ sighting.species.common_name }}</a>
							at <a href="{{ sighting.place.urls.absolute }}">{{ sighting.place|title }}</a>
							{% endfor %}
							</ol>
							{% endif %}

			{% endif %}

		</div>
	</div>
</div>

<div class="map">
	<div class="contents">
		<div class="wrapper">
			<img style="padding-right: 1em; margin-bottom: 1em" src="/static/img/desktop_narwhal.jpeg" alt="Giant featured photo" width="585" height="325">
			<div class="secondary">
			<h2>Currently</h2>
			<p>We&rsquo;re listing {{ num_of_places|intcomma }} zoos and places of animal interest.</p>
			</div>

		</div>
	</div>
</div>

<div class="features">
  <div class="contents">
	<div class="wrapper">
	  <div class="shrinkwrap">
	<div class="column first">
	  <div class="inner">
		<h2>Featured Zoo</h2>
		{% if featured.place %}
		{% with featured.place as place %}
		{% if place.visible_photos.all %}
		{{ place.visible_photos.all.0.thumb_75 }}
		{% endif %}
		<p><a href="{% url place place.country.country_code,place.slug %}">{{ place.known_as }}</a></p>
		<p>{{ place.address }}</p>
		<blockquote cite=""><p>{{ place.description }}</p></blockquote>
		<h3>Animals Spotted</h3>
		<p>{% for species in place.species %}<a href="{% url place-species-view place.country.country_code,place.slug,species.slug %}">{{ species.common_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<p><a href="{{ place.urls.species }}">&raquo; Show me more animals</a></p>
		{% endwith %}
		{% else %}
		There is no currently featured zoo. Why not suggest one?
		{% endif %}
	  </div>
	</div>
	<div class="column">
	  <div class="inner">
		<h2>Featured Animal</h2>
		{% if featured.species %}
		{% with featured.species as species %}
		{% with species.random_photo as photo %}
		{% if photo %}
		<img src="{{ photo.thumb_75_url }}" alt="{{ species.common_name }}">
		{% endif %}
		{% endwith %}
		<p><a href="{{ species.urls.absolute }}">{{ species.common_name }}</a></p>
		<blockquote><p>{{ species.description }}</p></blockquote>
		<h3>Your nearest {{ species.common_name }}</h3>
		{% if species.nearest %}
		<p><a href="{{ species.nearest.urls.absolute }}">{{ species.nearest }}</a> ({{ species.nearest.distance_miles|floatformat }} mile{{ species.nearest.distance_miles|pluralize }} away)</p>
		{% endif %}
		{% endwith %}
		{% else %}
		There is no currently featured animal. Why not suggest one?
		{% endif %}
	  </div>
	</div>
	<div class="column">
	  <div class="inner">
		<h2>Featured Animal spotter</h2>
		{% if featured.profile %}
		{% with featured.profile as profile %}
		{{ profile.avatar_img }}
		<p><a href="{{ profile.urls.absolute }}">{{ profile.user.username }}</a></p>
		<blockquote cite=""><p>{{ profile.biography }}</p></blockquote>
{% comment %}
		<h3>Animals they have seen</h3>
		<p><a href="">Bears</a>, <a href="">Tiger</a>, <a href="">Owls</a>, <a href="">Lemurs</a>, <a href="">Gorillas</a>, <a href="">Monkeys</a>, <a href="">Narwhals</a></p>
		<h3>Recent Trip Book Entries</h3>
		<blockquote class="quote" cite=""><p>I went to Narwhal city and it was fricking awesome, Narwhals and Narwhal flavoured Ice Cream, Fuck Yeah!</p></blockquote>
{% endcomment %}
		{% endwith %}
		{% else %}
		There is no currently featured spotter. Why not suggest one?
		{% endif %}
	  </div>
	</div>
	  </div>
	</div>
  </div>
</div>

{% endblock %}
