{% extends base %}

{% block title %}Places to see wildlife in {{ country.name }}{% endblock %}

{% block content_title %}
<h1>Places to see wildlife in {{ country.name }}</h1>
{% endblock %}

{% block primary_content %}

{% if places %}
<ul class="place-list">
	{% for place in places %}
	<li>
	{% include "places/_place.html" %}
	</li>
	{% endfor %}
</ul>
{% else %}
	<p>No one has added any places yet.</p>
{% endif %}

{% endblock %}

{% block secondary_content %}
{% if categories %}
<h2 class="initial">By category</h2>
<ul>
	{% for category in categories %}
	<li><a href="{% url country-by-category country.country_code category.slug %}">{{ category }}</a> - {{ category.num_places }}</li>
	{% endfor %}
	{% if uncategorised %}
	<li><a href="{% url country-by-category country.country_code "uncategorised" %}">Uncategorised</a> - {{ uncategorised }}</li>
	{% endif %}
</ul>
{% endif %}

{% endblock %}
