{% extends "base.html" %}

{% block title %}Suggest changes to {{ place.known_as }}{% endblock %}

{% block content %}
<h1>{{ place.known_as }} - Suggest Changes</h1>

<form action="{{ path }}" method="post">
{{ form.delete_form.as_p }}
{{ form.main.as_p }}
{% for encform in form.enclosure %}
<div class="nested-edit">
Enclosure:
{{ encform.delete_form.as_p }}
{{ encform.main.as_p }}
{% for species_form in encform.enc_species %}
<div class="nested-edit">
{{ species_form.main.as_p }}
{{ species_form.delete_form.as_p }}
</div>
{% endfor %}
{{ f.as_p }}
</div>
{% endfor %}

<input type="submit" name="submit" value="Submit that shit">
</form>

{% endblock %}
