{% extends base %}

{% load thumbnail %}

{% block title %}{{ place.known_as|title }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">PLACE_ID = {{ place.id }}</script>
<script type="text/javascript" src="/static/js/gallery.js"></script>
<script type="text/javascript" src="/static/js/jquery.dimensions.js"></script>
<script type="text/javascript" src="/static/js/i-saw-and-a.js"></script>
{% endblock %}

{% block primary_content %}

<h1>{{ place.known_as|title }}</h1>
{% if place.url %}
<p class="url"><a href="{{ place.url }}">&raquo; Visit their official website</a></p>
{% endif %}

<!-- <p class="sub-head">{{ place.legal_name }}</p> -->
<p class="address">{% if place.address %}{{ place.address }},{% endif %}
	<a href="{{ place.country.urls.absolute }}">{{ place.country }}
	<img width="16" height="11" src="/static/img/flags/{{ place.country.country_code }}.gif" alt=""></a>
	{% if place.gridref %}Grid Reference: {{place.gridref}}{% endif %}
</p>

{% if place.phone %}
<p class="tel">Phone: <a href="tel://{{ place.phone|urlencode }}">{{ place.phone }}</a></p>
{% endif %}

{% if place.description %}
<p class="intro">{{ place.description }}</p>
{% endif %}

{% if species_list %}
<h2>Animals you might see</h2>
<ul class="specieslist">
{% for species in species_list %}
	<li{% if forloop.first %} class="first"{% endif %}><a class="cloud-quad-{{ species.quad }}" title="Seen by {{ species.count }} spotter{{ species.count|pluralize }}" href="{% filter lower %}{% url place-species-view place.country.country_code,place.slug,species.slug %}{% endfilter %}">{{ species.common_name }}</a></li>
{% endfor %}
</ul>
{% if species_list_more %}
<p class="more"><a href="{% url place-species place.country.country_code,place.slug %}">&raquo; All species</a></p>
{% endif %}
{% endif %}

<div class="see-more-animals highlight"><a name="addsightings"></a>
    <h3 class="add">Have you been here?</h3>
    <p>Tell us which animals you saw.</p>
    <form action="{{ request.path }}pick-sightings/" method="GET">
        <div class="container"><label for="saw_1">I saw a </label><input type="text" name="saw" id="saw_1" class="text"></div>
        <div class="container and-a"><label for="saw_2">and a </label><input type="text" name="saw" id="saw_2" class="text"> <span class="meta">(optional)</span></div>
        <div><input type="submit" value="Add my animals"></div>
    </form>
</div>

{% if opening_times %}
<h2>Opening times <span class="meta">(times are subject to change)</span></h2>
{% for date_ranges in opening_times %}
	<h3>{{ date_ranges.range|safe }}</h3>

	{% for section_title, days in date_ranges.sections.items %}
	 	{% if section_title %}
	 	<h4>{{ section_title }}</h4>
	 	{% endif %}

	<dl>
	{% for day in days %}
		{% if day %}
			{% if day.name %}
				<dt>{{ day.name|safe }}</dt>
			{% endif %}
			<dd>
				{% if day.closed %}Closed{% endif %}
				{{ day.times }}
			</dd>
		{% endif %}
	{% endfor %}
	</dl>
	{% endfor %}
{% endfor %}
{% endif %}

{% with place.price.all as prices %}
    {% if prices %}
	<h2 class="">Price</h2>
	<ul class="currency">
	{% for price in prices %}
		<li class="currency_{{ price.currency.currency_code }}">{{ price.type|title }}:
{% ifequal price.value 0 %}Free{% else %}
{% ifequal price.currency.currency_code 'GBP' %}
&pound;{% endifequal %}{%ifequal price.currency.currency_code 'EUR' %}
&euro;{% endifequal %}{%ifequal price.currency.currency_code 'YEN' %}
&yen;{% endifequal %}{%ifequal price.currency.currency_code 'USD' %}
${% endifequal %}{{ price.value }}{% endifequal %}
	{% endfor %}
	</ul>
    {% endif %}
	{% if place.price_notes %}<p>{{ place.price_notes }}</p>{% endif %}
{% endwith %}

{% with place.place_facilities.all as facilities %}
	{% if facilities %}
	<h2>Facilities</h2>
	<ul class="facilities">
		{% for facility in facilities %}
		<li><img alt="{{ facility.facility.default_desc }}" src="{{ facility.facility.icon.url }}">{{ facility.desc }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% with place.direction.all as directions %}
    {% if directions %}
	<h2>Directions</h2>
	{% for direction in directions %}
    	<h3 class="direction_{{direction.mode}}">By {{ direction.mode }}</h3>
		<p>{{ direction.route }}</p>
	{% endfor %}
    {% endif %}
{% endwith %}

<!--
<h2>Events at ...</h2>
-->

{% with place.news.all as news %}
    {% if news %}
	<h2>News about {{ place.known_as }}</h2>
    <ul>
    {% for story in news %}
        <li>{{ story.story_date|date:"jS M Y" }}: <a href="{{ story.url }}">{{ story.headline }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{% with place.extras.all as extras %}
	<h2>Extras</h2>
	<ul>
		{% for extra in place.extras.all %}
		<li><a href="{{ extra.file.url }}">{{ extra }}</a></li>
		{% endfor %}
		<li><a href="{{ place.urls.summary }}">Zoo summary sheet</a></li>
	</ul>
{% endwith %}

{% endblock %}

{% block secondary_content %}

<h2>Average Rating</h2>
{% if rating.on %}
<p class="rating" title="{{ rating.on|length }} out of 5 stars">
{% for i in rating.on %}
<img src="/static/img/icons/starselect_single.gif" alt="">
{% endfor %}
{% for i in rating.off %}
<img src="/static/img/icons/starselect_off.png" alt="">
{% endfor %}
</p>
{% else %}
<!-- TODOOOOO: IF you are logged in AND you've been on a trip here AND you've not rated this yet, encourage to rate??? -->
<p>No-one has yet rated a trip to this place. <br>
<!-- TODOOOOO: IF you are logged in AND you've not got a trip to this place then display this message-->
<a href="#addsightings" class="add">Have you been here? Add your trip and rate this place.</a>
</p>
{% endif %}

<p class="suggest-changes">
	Found incorrect information on the page?
	<a href="{{ place.urls.suggest_changes }}">Let us know! You won’t hurt our feelings.</a>
</p>

<h2>Photos</h2>

{% with place.visible_photos.count as visible_photo_count %}
	{% if visible_photo_count %}
		{% ifequal visible_photo_count 1 %}{# Only one photo #}
			<div class="gallery">
			{% for photo in place.visible_photos.all %}
				<a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 150x1000 %}"></a>
			{% endfor %}
			</div>
		{% else %}{# More than one photo #}
		{% with place.photo as chosen %}
		<div class="gallery">
        		<a href="{% url photo chosen.created_by.username,chosen.id %}"><img src="{% thumbnail chosen.photo 150x1000 %}"></a>
        		<div class="slideshow">
        			<ul id="thumbnails">
			                {% for photo in place.visible_photos.all %}
			                {% ifnotequal chosen photo %}
        		                <li><a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 75x75 crop %}"></a></li>
        		                {% endifnotequal %}
			                {% endfor %}
			        </ul><!-- /#thumbnails -->
		        </div><!-- /.slideshow -->
	        </div>
	        {% endwith %}
		{% endifequal %}
	{% endif %}
{% endwith %}

{% if not user.is_anonymous %}
<p><a class="add" href="upload/">Upload a photo you took here!</a></p>
{% else %}
<p><a href="{% url accounts-login %}?next={{ request.path }}">Login</a> or <a href="{% url accounts-register %}">register</a> to add your own photos to this zoo</p>
{% endif %}

{% if place.most_recent_trips_with_desc %}
<h2>Zoo Tripbook entries</h2>
<ol class="comments">
{% for trip in place.most_recent_trips_with_desc|slice:":5" %}
	<li >
	<blockquote><p>{{ trip.description|truncatewords:10 }}</p></blockquote>
	<p class="posted-by">
	<img src="{% url profile-image-resized trip.created_by.username %}" alt="" height="30" width="30">
<a href="{{ trip.created_by.get_profile.urls.absolute }}">{{ trip.created_by.username }}</a><span class="meta">{{ trip.formatted_date }}</span></p>
{% endfor %}
</ol>
{% endif %}

<h2>Comments</h2>
{% with place as object %}
    {% include "comments/_comments.html" %}
{% endwith %}


{% endblock %}
