{% extends base %}

{% block title %}{{ place.known_as|title }}{% endblock %}

{% block content %}

<h1>{{ place.known_as|title }}</h1>

<h2>General information</h2>

<!-- <p class="sub-head">{{ place.legal_name }}</p> -->
<p class="address">{% if place.address %}{{ place.address }},{% endif %}
	<a href="{% url country place.country.country_code %}">{{ place.country }}</a>
	<a href="{{ place.country.get_absolute_url }}" class="flag"><img width="16" height="11" src="/static/img/flags/{{ place.country.country_code }}.gif" alt="Flag of {{ place.country }}"></a>
	{% if place.gridref %}Grid Reference: {{place.gridref}}{% endif %}
</p>

{% if place.phone %}
<p class="tel">Phone: <a href="tel://{{ place.phone|urlencode }}">{{ place.phone }}</a></p>
{% endif %}

{% if place.url %}
<p class="url"><a href="{{ place.url }}">Visit their official website</a></p>
{% endif %}

{% if place.description %}
<p class="intro">{{ place.description }}</p>
{% endif %}

<div id="locationmap" style="overflow: hidden"><img src="http://maps.google.com/staticmap?center={{ place.latitude }},{{ place.longitude }}&amp;zoom=13&amp;size=512x256&amp;markers={{ place.latitude }},{{ place.longitude }},red&amp;key={{ GOOGLE_MAPS_API_KEY }}&amp;sensor=false"></div>

<p>Go back to our <a href="{{ place.urls.absolute }}">main page on {{ place.known_as }}</a>.</p>

{% if species_list %}
<h2>Animals you might see</h2>
<ul class="specieslist">
{% for species in species_list %}
	<li><span class="cloud-quad-{{ species.quad }}" title="{{ species.count }} seen"><a href="{% filter lower %}{% url place-species-view place.country.country_code,place.slug,species.slug %}{% endfilter %}">{{ species.common_name }}</a></span></li>
{% endfor %}
</ul>
<p class="more"><a href="{% url place-species place.country.country_code,place.slug %}">All species…</a></p>
{% endif %}

{% if dates %}
<h2>Opening times <span class="meta">(times are subject to change)</span></h2>
{% for date_ranges in opening_times %}
	<h3>{{ date_ranges.0|safe }}</h3>

	{% for section_title, days in date_ranges.1.items %}
	 	{% if section_title %}
	 	<h4>{{ section_title }}</h4>
	 	{% endif %}

	<ul class="opening-list">
	{% for day in days %}
		{% if day %}
        		<li>
        			{% if day.name %}
        				<span class="opening-days">{{ day.name }}</span>
        			{% else %}
        				<span class="opening-days">Every day</span>
        			{% endif %}
        			<span class="opening-hours">
        				{% if day.closed %}Closed{% endif %}
        				{{ day.times }}
        			</span>
        		</li>
		{% endif %}
	{% endfor %}
	</dl>
	{% endfor %}
{% endfor %}
{% endif %}

{% if place.price_notes %}
	<h2 class="">Prices</h2>
	<p>{{ place.price_notes }}</p>
{% endif %}

{% with place.place_facilities.all as facilities %}
	{% if facilities %}
	<h2>Facilities</h2>
	<ul class="facilities">
		{% for facility in facilities %}
		<li><img alt="{{ facility.facility.default_desc }}" src="{{ facility.facility.icon.url }}">{{ facility.desc }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% with place.direction.all as directions %}
    {% if directions %}
	<h2>Directions</h2>
	{% for direction in directions %}
    	<h3 class="direction_{{direction.mode}}">By {{ direction.mode }}</h3>
		<p>{{ direction.route }}</p>
	{% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
