{% extends base %}

{% load thumbnail %}

{% block title %}{{ place.known_as|title }}{% endblock %}

{% block extra_head %}
<!-- <script type="text/javascript" src="/static/js/species-adding.js"></script> -->
<script type="text/javascript" src="/static/js/gallery.js"></script>
<script type="text/javascript">
function anyEmptyOnes() {
    return jQuery('#see-more-animals div:visible :text').filter(function() {
        return $(this).val() == '';
    }).length > 0;
}

function unusedSawId() {
    var i = 1;
    var saw_id = 'saw_' + i;
    while ($('#' + saw_id).length) {
        i += 1;
        saw_id = 'saw_' + i;
    }
    return saw_id;
}

jQuery(function($) {
    function doWeNeedMoreBoxes() {
        var $this = $(this);
        if ($this.val()) {
            // Only do something if this is the last empty one
            if (anyEmptyOnes()) {
                return;
            }
            if (!$this.parent().hasClass('and-a')) {
                $('div#see-more-animals .and-a').show();
            } else {
                // Clone an existing .and-a
                var and_a = $(
                    'div#see-more-animals .and-a'
                ).eq(0).clone();
                var unused_id = unusedSawId();
                and_a.find('input').val('').attr({
                    'id': unused_id,
                    'name': 'saw'
                });
                and_a.find('label').attr('for', unused_id);
                and_a.insertBefore('#see-more-animals :submit');
                setupSawBoxes();
            }
        }
    }
    function setupSawBoxes() {
        $('div#see-more-animals input[name^=saw]').unbind('keyup').keyup(
            doWeNeedMoreBoxes
        );
    }
    // Set up the I saw a form bit
    if (anyEmptyOnes()) {
        $('div#see-more-animals .and-a').hide()
    }
    setupSawBoxes();
    doWeNeedMoreBoxes();
});
</script>
{% endblock %}

{% block primary_content %}

<h1>{{ place.known_as|title }}</h1>
{% if place.url %}
<p class="url"><a href="{{ place.url }}">&raquo; Visit their official website</a></p>
{% endif %}

<!-- <p class="sub-head">{{ place.legal_name }}</p> -->
<p class="address">{% if place.address %}{{ place.address }},{% endif %}
	<a href="{{ place.country.urls.absolute }}">{{ place.country }}
	<img width="16" height="11" src="/static/img/flags/{{ place.country.country_code }}.gif" alt=""></a>
	{% if place.gridref %}Grid Reference: {{place.gridref}}{% endif %}
</p>

{% if place.phone %}
<p class="tel">Phone: <a href="tel://{{ place.phone|urlencode }}">{{ place.phone }}</a></p>
{% endif %}

{% if place.description %}
<p class="intro">{{ place.description }}</p>
{% endif %}

{% if species_list %}
<h2>Animals you might see</h2>
<ul class="species_list">
{% for species in species_list %}
	<li><span class="cloud-quad-{{ species.quad }}" title="{{ species.count }} seen"><a href="{% filter lower %}{% url place-species-view place.country.country_code,place.slug,species.slug %}{% endfilter %}">{{ species.common_name }}</a></span></li>
{% endfor %}
</ul>
<p class="more"><a href="{% url place-species place.country.country_code,place.slug %}">&raquo; All species</a></p>
{% endif %}

<div id="see-more-animals"><a name="addsightings"></a>
    <h3 class="add">Have you been here?</h3>
    <p>Tell us which animals you saw.</p>
    <form action="{{ request.path }}pick-sightings/" method="GET">
        <div class="container"><label for="saw_1">I saw a </label><input type="text" name="saw" id="saw_1"></div>
        <div class="container and-a"><label for="saw_2">and a </label><input type="text" name="saw" id="saw_2"> <span class="optional">(optional)</span></div>
        <div><input type="submit" value="Add my animals"></div>
    </form>
    <p>You can also use this to tell us if you know that {{ place.known_as }} has a particular animal (such as sharks), but we haven't listed it. (We won't assume you've seen them in this case!)</p>
</div>

{% if opening_times %}
<h2>Opening times <span class="meta">(times are subject to change)</span></h2>
{% for date_ranges in opening_times %}
	<h3>{{ date_ranges.0|safe }}</h3>

	{% for section_title, days in date_ranges.1.items %}
	 	{% if section_title %}
	 	<h4>{{ section_title }}</h4>
	 	{% endif %}

	<dl>
	{% for day in days %}
		{% if day %}
			{% if day.name %}
				<dt>{{ day.name }}</dt>
			{% else %}{% if not date_ranges.2 %}
				<dt>Every day</dt>
			{% endif %}{% endif %}
			<dd>
				{% if day.closed %}Closed{% endif %}
				{{ day.times }}
			</dd>
		{% endif %}
	{% endfor %}
	</dl>
	{% endfor %}
{% endfor %}
{% endif %}

{% with place.price.all as prices %}
    {% if prices %}
	<h2 class="">Price</h2>
	<ul class="currency">
	{% for price in prices %}
		<li class="currency_{{ price.currency.currency_code }}">{{ price.type|title }}:
{% ifequal price.value 0 %}Free{% else %}
{% ifequal price.currency.currency_code 'GBP' %}
&pound;{% endifequal %}{%ifequal price.currency.currency_code 'EUR' %}
&euro;{% endifequal %}{%ifequal price.currency.currency_code 'YEN' %}
&yen;{% endifequal %}{%ifequal price.currency.currency_code 'USD' %}
${% endifequal %}{{ price.value }}{% endifequal %}
	{% endfor %}
	</ul>
    {% endif %}
	{% if place.price_notes %}<p>{{ place.price_notes }}</p>{% endif %}
{% endwith %}

{% with place.place_facilities.all as facilities %}
	{% if facilities %}
	<h2>Facilities</h2>
	<ul class="facilities">
		{% for facility in facilities %}
		<li><img alt="{{ facility.facility.default_desc }}" src="{{ facility.facility.icon.url }}">{{ facility.desc }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% with place.direction.all as directions %}
    {% if directions %}
	<h2>Directions</h2>
	{% for direction in directions %}
    	<h3 class="direction_{{direction.mode}}">By {{ direction.mode }}</h3>
		<p>{{ direction.route }}</p>
	{% endfor %}
    {% endif %}
{% endwith %}

<!--
<h2>Events at ...</h2>
-->

{% with place.news.all as news %}
    {% if news %}
	<h2>News about {{ place.known_as }}</h2>
    <ul>
    {% for story in news %}
        <li>{{ story.story_date|date:"jS M Y" }}: <a href="{{ story.url }}">{{ story.headline }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{% with place.extras.all as extras %}
	<h2>Extras</h2>
	<ul>
		{% for extra in place.extras.all %}
		<li><a href="{{ extra.file.url }}">{{ extra }}</a></li>
		{% endfor %}
		<li><a href="{{ place.urls.summary }}">Zoo summary sheet</a></li>
	</ul>
{% endwith %}

{% endblock %}

{% block secondary_content %}


<h2>Average Rating</h2>
{% if rating.on %}
<p class="rating" title="{{ rating.on|length }} out of 5 stars">
{% for i in rating.on %}
<img src="/static/img/icons/starselect_single.gif" alt="">
{% endfor %}
{% for i in rating.off %}
<img src="/static/img/icons/starselect_off.png" alt="">
{% endfor %}
</p>
{% else %}
<!-- TODOOOOO: IF you are logged in AND you've been on a trip here AND you've not rated this yet, encourage to rate??? -->
<p>No-one has yet rated a trip to this place. <br>
<!-- TODOOOOO: IF you are logged in AND you've not got a trip to this place then display this message-->
<a href="#addsightings" class="add">Have you been here? Add your trip and rate this place.</a>
</p>
{% endif %}

<p><a href="{% url place-support place.country.country_code place.slug %}" class="button">Support your zoo!</a></p>

<h2>Photos</h2>

{% if place.visible_photos.count %}

{% for photo in place.visible_photos.all %}
{% if forloop.first %}
<div class="gallery">
	<a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 225x150 crop %}"></a>
	<div class="slideshow">
		<ul id="thumbnails">
{% else %}
	<li><a href="{% url photo photo.created_by.username,photo.id %}"><img src="{% thumbnail photo.photo 75x75 crop %}"></a></li>
{% endif %}
{% if forloop.last %}
		</ul><!-- /#thumbnails -->
	</div><!-- /.slideshow -->
</div>
{% endif %}
{% endfor %}

{% endif %}

{% if not user.is_anonymous %}
<p><a class="add" href="upload/">Upload a photo you took here!</a></p>
{% else %}
<p><a href="{% url accounts-login %}?next={{ request.path }}">Login</a> or <a href="{% url accounts-register %}">register</a> to add your own photos to this zoo</p>
{% endif %}

{% if place.most_recent_trips_with_desc %}
<h2>Zoo Tripbook entries</h2>
<ol class="comments">
{% for trip in place.most_recent_trips_with_desc|slice:":5" %}
	<li >
	<blockquote><p>{{ trip.description|truncatewords:10 }}</p></blockquote>
	<p class="posted-by">
	<img src="{% url profile-image-resized trip.created_by.username %}" alt="" height="30" width="30">
<a href="{{ trip.created_by.get_profile.urls.absolute }}">{{ trip.created_by.username }}</a><span class="meta">{{ trip.formatted_date }}</span></p>
{% endfor %}
</ol>
{% endif %}

<h2>Comments</h2>
{% with place as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

<p class="suggest-changes">
	Found incorrect information on the page?
	<a href="{{ place.urls.suggest_changes }}">Let us know! You won’t hurt our feelings.</a>
</p>

{% endblock %}
