{% extends base %}

{% block title %}Support {{ place.known_as }}{% endblock %}

{% block content %}

<h1>Support {{ place.known_as|title }}</h1>

<p>Zoos and other wildlife places can normally be supported in a variety of ways.
Check with the particular venue directly, but possibilities include:</p>

<ul>
<li>Adopting an animal or enclosure
<li>Becoming a member
<li>Volunteering
<li>Donating
<li>Attending special events, such as animal encounters
<li>Visiting!
</ul>

<p>Back to <a href="{{ place.urls.absolute }}">{{ place.known_as|title }}</a> Page</p>

{% endblock %}
