{% extends base %}

{% load pagination_tags %}
{% load zoocommon %}

{% block title %}{{ place.known_as }} - Species{% endblock %}

{% block content_title %}
	<h1>Animals spotted at {{ place.known_as }}</h1>
{% endblock %}

{% block primary_content %}
	{% if species_list %}
		{% autopaginate species_list 30 %}
		{% paginate %}
			<ul class="animal-list">
				{% for species in species_list %}
					<li>
						<div class="thumbnail">{% with species.photo as photo %}{% if photo %}{{ photo.thumb_75 }}{% endif %}{% endwith %}</div>
						<p><a class="animal-name" href="{% url place-species-view place.country.country_code,place.url_slug,species.slug %}">{{ species.common_name }}</a> <span class="meta">(spotted {{ species.count|oncetimes }})</span></p>
						<p><i class="scientific">{{ species.latin_name }}</i></p>
					</li>
				{% endfor %}
			</ul>
		{% paginate %}

	{% else %}
		<p class="notification">No animals have been spotted at this place yet.</p>
	{% endif %}

{% endblock %}

{% block secondary_content %}
	<p>We have more information on <a href="{{ place.urls.absolute }}">{{ place.known_as }}</a>.</p>
{% endblock %}