{% extends base %}

{% block title %}{{ place.known_as }} - Species{% endblock %}

{% block content %}

<h1><a href="{{ place.urls.absolute }}">{{ place.known_as }}</a></h1>

<h2>Species</h2>

{% if species_list %}

<ul>
{% for species in species_list %}
<li><strong><a href="{% url place-species-view place.country.country_code,place.slug,species.slug %}">{{ species.common_name }}</a></strong>, seen by {{ species.count }}{% if species.seen %} (seen){% endif %}</li>
{% endfor %}
</ul>

{% else %}

<p>No animals have been seen at this place yet.</p>

{% endif %}

{% endblock %}
