{% extends base %}

{% block title %}{{ species.plural }} at {{ place.known_as }}{% endblock %}

{% block primary_content %}

<h1><a href="{{ species.urls.absolute }}">{{ species.plural }}</a> at <a href="{{ place.urls.absolute }}">{{ place.known_as }}</a></h1>

<h2>Spotted by</h2>

<ul>
{% for sighting in sightings %}
<li><a href="{{ sighting.created_by.get_profile.urls.absolute }}">{{ sighting.created_by.username }}</a> {% if sighting.trip %} on <a href="{{ sighting.trip.get_absolute_url }}">{{ sighting.trip }}</a>{% else %} reported on {{ sighting.created_at|date:"jS F Y" }}{% endif %}</li>
{% endfor %}
</ul>

{% if place_species.visible_photos.count %}

<h2>Photos</h2>

<p>Of {{ species.common_name }} at {{ place.known_as }}.</p>

{% for photo in place_species.visible_photos.all %}
<div>
<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.photo.thumbnail_tag }}</a> by <a href="{% url accounts-profile photo.created_by.username %}/">{{ photo.created_by|title }}</a>
</div>
{% endfor %}

{% endif %}

<h2>Comments</h2>
{% with place_species as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

{% endblock %}

{% block secondary_content %}

{% endblock %}
