{% extends base %}

{% block title %}{{ place.known_as }} - {{ species.common_name }}{% endblock %}

{% block primary_content %}

<h1><a href='{{ place.urls.absolute }}'>{{ place.known_as }}</a> - <a href='{{ species.urls.absolute }}'>{{ species.common_name }}</a></h1>

<h2>Who saw this?</h2>

<p>Why the following people, of course.</p>

<ul>
{% for sighter in sighters %}
<li><a href='{{ sighter.get_profile.urls.absolute }}'>{{ sighter.username }}</a></li>
{% endfor %}
</ul>

<h2>Photos</h2>

<p>Of {{ species.common_name }} at {{ place.known_as }}.</p>

{% for photo in place_species.visible_photos.all %}
<div>
<a href="{{ photo.urls.absolute }}" title="{{ photo.title }}">{{ photo.photo.thumbnail_tag }}</a> by <a href="{% url accounts-profile photo.created_by.username %}/">{{ photo.created_by|title }}</a>
</div>
{% endfor %}

<h2>Comments</h2>
{% with place_species as object %}
    {% include "comments/_comments.html" %}
{% endwith %}

{% endblock %}

{% block secondary_content %}

<form action="#" method="post">
	<div class="select-container container">
		<label for="review-rating">This zoo currently has a rating of 5 stars, roll over stars to add your own.</label>
		<select id="review-rating" name="review-rating">
			<option></option>
			<option value="1" class="worst">*</option>
			<option value="2" class="bad">**</option>
			<option value="3" class="fair">***</option>
			<option value="4" class="good">****</option>
			<option value="5" class="best">*****</option>
		</select>
		<input class="noscript" type="submit" value="save">
	</div>
</form>
{% endblock %}
