/*
Harmonise v1.21
Resets styles then adds basic typographical styling
By Richard Rutter, clearleft.com
*/

/* @group Reset */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

/* tables may still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */


body {
	 /* max-width: 61em;1098px */
	margin: 0 auto;
	padding: 0;
    background-color: #c6ddab;
    color: #534741;
	font-family: Calibri, "Helvetica Neue", sans-serif;
    font-size:16px;
    line-height:1.125em; /* Baseline grid of 18px */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rockwell, "Times New Roman", "Century Schoolbook L", Times, serif;
    color: #362f2d;
}

h2 {
    font-variant: small-caps;
}


a:link, button.link span {
	color: #0063DC;
	text-decoration: underline;
}
a:visited {
	color: #1057ae;
	text-decoration: underline;
}
a:hover, 
a:focus, 
button.link:hover,
button.link:focus span {
	color: #FFFFFF; 
	text-decoration: none;
	background-color: #0063DC;
}
a:active,  
button.link:active span {
	color: #FFFFFF; 
	text-decoration: none; 
	background-color: #0259C4; 
}

/* @group Font sizes */

ul p, ol p, table p, dl p, ul ul, ol ol, ul ol, ol ul, address p, li blockquote, blockquote p, form div div, form div p, fieldset div, table form div {
	font-size: 1em;
}

/* size headings using classic scale of 14, 16, 18, (21), 24 */

/* @end */

/* @group Headings */

p, ul, ol, dl, address, table, pre, fieldset {
	margin-bottom: 1.385em; /* 18px */
}

h1 {
	font-size: 1.5em;   /* 24px */
	line-height: 1.125em;  /* 27px */
	margin-top:1.125em;	   /* 27px */
	margin-bottom: 0.75em; /* 18px */
    margin-top: 0;
}
h2 { 
	font-size: 1.125em;   /* 18px */ 
	margin-top:1.5em;	   /* 27px */
	margin-bottom: 0.5em;  /* 9px */	
}
h3 { 
	font-size: 1.0em;     /* 16px */ 
}
h4 { 
	font-size: 0.875em;   /* 14px */ 
	margin-top:1.6875em;     /* 27px */
	margin-bottom: 0.5625em; /* 9px */	
	margin-top:1.286em;	   /* 18px */
	margin-bottom: 0.643em; /* 9px */
}
h5, 
h6 {
	 font-size: 0.8125em;  /* 13px */ 
}

/* @end */

/* @group Lists */
ul ul, ol ol, ol ul, ul ol {
	margin-bottom: 0;
}


.prose ul, 
ul.bullets, 
ul.bullets ul {	/* unordered lists more often DON'T require bullets except in extended bits of writing - use the .prose class or apply directly with .bullets */
	list-style-type: disc;
	margin-left: 1.385em; /* 18px */
}

ol {	/* ordered lists usually DO require bullets */
	list-style-type: decimal;
	margin-left: 2.077em; /* 27px */
}

dt {
	font-weight: bold;
    float: left;
    margin: 0 1em 0 0;
    clear: left;
}
/* @end */

/* @group Tables */

table {
	border-bottom: 1px solid #666;
}

caption {
	font-weight: bold;
	padding-bottom: 0.643em; /* 9px */
	font-size:1.077em; /* 14px */
}

thead th {
	border-top: 1px solid #666;
	border-bottom: 3px solid #666;
	padding-top: 0;
	padding-bottom: 0.692em; /* 9px */
}

tbody {
	border-top: 3px solid #666;	/* not rendered in IE6/7 */
}

tbody tr th, 
tbody tr td {
	border-top: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 0.385em 0.692em 0.308em 0.692em; /* 5px 9px 4px 9px */
}

/* @end */

/* @group Blockquotes */

blockquote {
	font-style: italic;
	margin:0  1.385em  1.385em 1.385em; /* 18px */
}

p+p+blockquote {
	margin-top: 1.385em;
}

blockquote cite, 
blockquote em {
	font-style: normal;
}

/* @end */

/* @group Other styling */

address {
	font-style: normal;
}

pre, code, kbd, tt, samp, tt {
	font-family: "andale mono", monospace;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

/* @end */

