/* @group Forms */

/* @group Containers */

form {
	margin-bottom: 1.125em; /* 18px */
}

form .container {
	margin-bottom: 1.385em; /* 18px */
}


/* @group Fieldsets */

fieldset {
	border: 1px solid #ccc;
	padding: 0 1.385em 0.692em 1.385em; /* 9px 18px 0 18px */
}

legend {
	font-weight: bold;
}

form fieldset .container {
	margin-top: 1.385em; /* 18px */
	margin-bottom:0;
	position: relative;
	top: -0.692em; /* fudge to deal with IE fieldset margin/padding */
}

/* @end */

/* @end */

/* @group Labels */

label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: bold;
  cursor: pointer;
}

.meta-label {
	font-weight: bold;
	margin-bottom: 0;
}

.multi-container label, 
.radio-container label, 
.checkbox-container label {
	font-weight: normal;
}

.radio-container label, 
.checkbox-container label {
	display: block;
}

.compact label {
	display: inline;
}

/* @end */

/* @group Meta */

form .help {
	display: block;
	color: #777;
	font-style: normal;
	font-size: 0.846em; /* 11px */
}

/* @end */

/* @group Form controls */

input, 
textarea, 
select, button {
	font-family: inherit;
	font-size: 1em;
}

textarea, input[type='text'], 
input[type='password'], select {
	border-width: 1px;
	border-style: solid;
	border-top-color: #999;
	border-left-color: #999;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	padding: 0 1px 1px 1px;
}

textarea:focus, input[type='text']:focus, 
input[type='password']:focus, select:focus {
	border-color: #888;
	outline: 2px solid #ffffaa;
}

input.short {
	width: 4em;
}

input.medium, textarea.medium {
	width: 12em;
}

input.long, textarea.long {
	width: 30em;
}

textarea {
	width: 99%;
	display: block;
}

.button-container input {
	font-weight: bold;
}

.button-container input.cancel {
	font-weight: normal;
}

button.link {
	border: 0;
	padding: 0;
	background-color: #fff;
	font-weight: normal;
	cursor: pointer;
	width: auto;
	overflow: visible;
}

/* accessability feature, resize check and radio inputs */
.radio-container input, 
.checkbox-container input {
	width: 1em;
	height: 1em;
}

input[type=submit],
input.submit,
a.button:link,
a.button:visited,
a.button:hover,
a.button:active,
a.button:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #519ff1;
	background-image: url(/static/img/bg/button.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	border: solid 1px #2356d6;
    padding: 0.18em 0.7em;
}
/* @end */

/* @end */

/* @group Extra heading bits */

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus,
h1 a:hover {
	font-size: 0.35em;
	text-transform: uppercase;
	font-weight: normal;
	white-space: nowrap;
	font-family: Calibri, "Helvetica Neue", sans-serif;
}

.meta { 
        font-size: 0.8em;
}

h2 .meta {
    font-size: 0.6364em;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
    text-transform: lowercase;
	font-family: Calibri, "Helvetica Neue", sans-serif;
    color: #666666;
}

h1 i.scientific {
    font-style: italic;
    font-weight: normal;
    font-size: smaller;
}

/* @end */

/* @group Link types */

a.add:link,
a.add:visited,
a.add:hover,
a.add:focus,
a.add:active, 
.add {
	padding-left: 20px;
	background-image: url(/static/img/icons/add.gif);
	background-position: left 0.15em;
	background-repeat: no-repeat;
}

/* @end */

.notification {
	margin-top: 1.357em;
	background-color: #CBE3B7;
	padding: 1em;
	color: black;
}

.error {
	background-color: #E3C6B7;
	padding: 1em;
	color: black;
	
}

.hidden { 
          display: none;
}

.notusing {
	background-color: #E185E9;	
}

.intro {
	font-size: 1.2857em;
	line-height: 1.2;
}

.optional {
	font-size: 0.8571em;
}
.hasJS .noscript {
	display: none;
}