body {
	font-family: Calibri, "Helvetica Neue", sans-serif;
}

h1 {
    margin-top: 0;
}

dt {
    float: left;
    margin: 0 1em 0 0;
    clear: left;
}

#hd {
	border-bottom: 1px solid black;
	font-size: 0.85em;
	margin-bottom: 2em;
    text-align: right;
}
#hd form, #hd form p {
    display: inline;
}

/* Place page */

#main_stuff {
    float: left;
    width: 64%;
    border-right: solid 1px #cccccc;
    padding-right: 1%;
}

#sidebar {
    float: right;
    width: 34%;    
}

/* Cloud */
.seen {
    color: #cc0000;
    background-color: #ffffff;
}


/* comments */

div.comment {
	border-left: 0.5em solid #ccc;
	padding-left: 0.5em;
}
div.comment .posted-by {
	font-size: 0.85em;
}
