body {
	font-family: Calibri, "Helvetica Neue", sans-serif;
}

#hd {
	border-bottom: 1px solid black;
	font-size: 0.85em;
	margin-bottom: 2em;
}

/* Cloud on place page */

.seen {
    color: #cc0000;
    background-color: #ffffff;
}

/* comments */

div.comment {
	border-left: 0.5em solid #ccc;
	padding-left: 0.5em;
}
div.comment .posted-by {
	font-size: 0.85em;
}
