/* Please try not to use this file */

/* @group Easter Eggs */

#egg_dodo {
	margin: 0 40px;
}

#egg_unicorn {
	margin: 0 81px;
}

/* @end */

/* @group Homepage */

#home .main {
	padding-top: 0;
}

#home .footer {
	padding-top: 0;
	background-image: none;
	border-top-width: 0;
	margin-top: 0;
}

#home .main h2 {
	margin-top: 0;
}

#home .header ul li:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

/* @group Introduction block */

#home .intro-block {
	padding-top: 1em;
	padding-bottom: 1em;
}

#home .intro-block .interact {
	border: 2px solid #93B1C1;
	background-color: #E2F1F9;
	margin-top: 7px;
	margin-left: 2em;
	margin-bottom: 20px;
	padding: 0 1em 1em 1em;
	float: right;
	width: 20.78em;
	display: inline;
}

#home .intro-block .intro {
	margin-right: 19em;
	margin-bottom: 20px;
}
#home .intro-block h2 {
	margin-top: 25px;
}

#home .intro-block .interact h2 {
	margin-top: 15px;
}

#home .intro-block label {
	float: left;
	width: 8em;
	font-weight: normal;
	line-height: 1em;
	margin-right: 1em;
	clear: left;
	font-size: 0.875em;
	padding-top: 0.4em;
	text-align: right;
}
#home .intro-block .text-container {
	margin-bottom: 0.3em;
}
#home .intro-block .text-container input {
	border: 1px solid #B7C6CE;
	padding: 0.2em 0.2em;
	width: 10em;
}
#home .intro-block .submit {
	margin-left: 10em;
	font-size: 0.875em;
}
#home .intro-block .meta {
	margin-top: 0;
}
#home .container .meta {
	font-size: 0.6em;
	margin-left: 13.2em;
}
#home form {
	margin-bottom: 0;
}

#home .intro-block .openid {
	background-image: url(/static/img/icons/openid.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 20px;
}

#home .intro-block input.openid {
	background-color: #fff;
	padding-left: 1.5em;
	width: 8.7em;
}

#home .intro-block input:focus {
	outline: none;
}
#home div.login-wrapper {
	background-color: #93B1C1;
	overflow: hidden;
	padding-top: 0.5em;
	margin-top: 0.5em;
	padding-bottom: 0.7em;
	margin-bottom: 1em;
}
#home div#what-is-openid,
#home div#what-is-openid2 {
	font-size: 0.8em;
	clear: both;
	margin: 1em 1em 0 1em;
}
#home div#what-is-openid p,
#home div#what-is-openid2 p {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 9em;
}
#home .login-wrapper .toggler {
	display: block;
	font-size: 0.8em;
}

/* @end */

/* @group Look for */

#home .look-for {
	background-color: #C6DDAB;
	border-top: 1px solid #6D9053;
	padding-top: 1em;
}

#home .look-for label {
	display: inline;
	font-size: 1.5714em;  /* 18px */ 
	text-transform: uppercase;
	line-height: 1;
	font-family: Rockwell, Georgia, "Times New Roman", "Century Schoolbook L", Times, serif;
	color: #362f2d;
	position: absolute;
	top: 0.5em;
	left: 1.3em;
	margin: 0;
}

#home .look-for .examples {
	margin-left: 11.67em;
	margin-top: 0;
}
#home .look-for .container {
	margin-bottom: 0.2em;
	margin-left: 10em;
	margin-right: 5em;
}

#home .look-for input.text {
	border: none;
	padding: 0.2em 0.5em;
	font-size: 1.5714em;
	width: 55%;
	color: #455C35;
	background-color: #fff;
	width: 82%;
	border: 2px solid white;
}

#home .look-for .contents {
	position: relative;
}

#home .look-for input.submit {
	position: absolute;
	top: 0;
	right: 1.3em;
	font-size: 1.5714em;
	border-width: 2px;
}


/* @end */

/* @group Browse */

#home .browse {
	background-color: #FFFFFF;
	padding-top: 2em;
}

#home .browse .contents {
	background-image: url(/static/img/bg/animals_small.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	min-height: 280px;
}
#home .browse .secondary {
	margin-bottom: 186px;
	margin-top: 0;
}
#home .browse .intro strong {
	font-size: 1.8571em;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

/* @end */

/* @group Featured */

#home .featured {
	background-color: #C6DDAB;
	padding-top: 0.3em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #6D9053;
}
#home .featured .column {
	background-color: #FFFFFF;
	padding: 2%;
	width: 26.9%;
	margin-bottom: -50em;
	padding-bottom: 50em;
	border: 1px solid #ADC195;
	/* Due to the terrifying way we implement equal height 
	   columns, it's not actually possible to have a bottom
	   border on them as well. This looks pretty neat though */
	border-right: none;
	border-bottom: none;
}

#home .featured img {
	margin-bottom: 1.5em;
}

#home .featured h4 {
	clear: both;
	text-transform: uppercase;
	margin-top: 0;
}

/* @end */

/* @end */

/* @group Add place form */

form.place .location {
	background-color: #E2F1F9;
	padding: 1em;
	overflow: hidden;
	margin-bottom: 1em;
	zoom: 1;
}
form.place .gmap {
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;
}
form.place .contact {
	overflow: hidden;
	width: 100%;
	margin-bottom: 1em;
}
form.place .location .container {
	float: left;
	width: 46%;
	margin: 0;
}

form.place .location .country {
	margin-bottom: 1em;
	float: none;
	clear: both;
	width: 100%;
}

form.place .contact .container {
	float: left;
	width: 46%;
	margin-top: 1em;
	margin-bottom: 0;
}

/* @end */

/* @group Blog */

.blog h1 {
	margin-bottom: 0;
}

.blog .date {
	text-transform: uppercase;
	color: #BFBFBF;
}

/* @end */