/* Please try not to use this file */

/* @group Easter Eggs */

#egg_dodo {
    margin: 0 40px;
}

#egg_unicorn {
    margin: 0 81px;
}

/* @end */

/* @group homepage */

.interaction {
	background-color: #BDDA9B;
	border-top: 1px solid #879E6B;
	border-bottom: 1px solid #879E6B;
	padding: 1em 0;
}

.map {
	background-color: #FFFFFF;
	padding: 1em 0;
}

.features {
	background-color: #BDDA9B;
	padding: 1em 0;
}

.shrinkwrap {
	width: 100%;
	overflow: hidden;
}

.column {
	background-color: #FFFFFF;
	width: 30%;
	margin-left: 3%;
	float: left;
	display: inline;
	padding-bottom: 50em;
	margin-bottom: -50em;
}

.column h2 {
	margin-top: 1em;
}

.inner {
	padding-left: 1em;
}

.inner h3 {
	margin-bottom: 0.6em;	
}

.inner p {
	margin-bottom: 1em;
}

.first .inner blockquote {
	clear: both;
}

.inner img {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}





.first {
	margin-left: 0;
}

/* @end */