.wrapper {
	text-align: left;
	width: 69em;
	max-width: 100%;
	margin: 0 auto;
}
.main .contents {
	padding: 0 1em;
	overflow: hidden;
	zoom: 1;
}

/* @group Header */

.header {
	background-image: url(/static/img/bg/header.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.header .contents {
	padding: 0.8em 0.8em 0.8em 1em;
}
.header .wrapper {
	text-align: right;
}

/* @group Logo */

.header p.heading {
	float: left;
	width: 15em;
	margin: 0;
	text-align: left;
}
.header p.heading img {
	position: relative;
	top: 3px;
}
.header span {
	color: #5c822f;
	font-style: italic;
	font-size: 0.8em;
}

/* @end */

/* @group Navigation */

.header ul {
	display: inline;
	text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}
.header ul li {
	display: inline;
	padding-right: 0.6em;
	margin-right: 0.6em;
	border-right: solid 1px #7d965f;
	background-image: none;
	padding-left: 0;
	margin-bottom: 0;
}
.header ul li a:link, 
.header ul li a:visited {
	color: #0063dc;
	text-decoration: none;
}
.header ul li a:active, 
.header ul li a:focus, 
.header ul li a:hover {
	color: black;
}

/* @end */

/* @group Search */

.header form {
	display: inline;
	text-transform: uppercase;
	font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}
.header form label {
	margin-right: 0.3em;
	margin-bottom: 0;
	display: inline;
}
.header form div {
	display: inline;
}

/* @end */


/* @end */

/* @group Footer */

.footer {
	padding-top: 312px;
	background-image: url(/static/img/bg/animals.png);
	background-repeat: no-repeat;
	background-position: 98% top;
    background-color: #ffffff;
    border-top: solid 1em #ffffff;
}
.footer p {
    text-align: left;
    color: #534741;
    background-color: #c6ddab;
    padding: 1em;
    margin: 0;
}

/* @end */

/* @group Principle Layout */

.main {
	clear: both;
	background-color: #ffffff;
	background-image: url(/static/img/bg/bg_gradient_blue_white.png);
	background-repeat: repeat-x;
	background-position: top left;
	width: 100%;
	overflow: hidden;
	padding-top: 2em;
	min-height: 500px;
}

.primary {
    float: left;
    width: 60%;
    display: inline;
}

.secondary {
    float: right;
    width: 34%;
    display: inline;
    margin-top: 2.7em;
}
.secondary h2:first-child,
.secondary h3:first-child {
    margin-top: 0;
}

/* @end */

/* @group 3-cols */

.column {
	width: 30%;
	float: left;
	display: inline;
	margin-left: 3.4%;
}
.column.first {
	margin-left: 0;
}
.column h2 {
	margin-top: 0;
}

/* @end */
