/* @group See  more animals */

div#see-more-animals {
    background-color: #E2F1F9;
    padding: 1em;
    margin-top: 1.37em;
}
div#see-more-animals label {
    width: 4em;
    float: left;
}

div#see-more-animals form {
	margin-bottom: 0;
}
/* @end */

/* @group Cloud on species page */

.species_list {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}
.species_list li {
	display: inline;
}
.species_list li a {
	text-decoration: none;
}
.cloud-quad-0 {
    font-size: 1em;
}
.cloud-quad-1 {
    font-size: 1.2857em;
}
.cloud-quad-2 {
    font-size: 1.7143em;
}
.cloud-quad-3 {
    font-size: 2.1429em;
}

/* @end */

/* @group Comments */

div.comment {
	border-left: 0.5em solid #ccc;
	padding-left: 0.5em;
}
div.comment .posted-by {
	font-size: 0.85em;
}

/* @end */

/* @group Edit form */

.nested-edit {
  margin-left: 1em;
}

ul.errorlist { 
  list-style-type: none;
  color: #cc0000;
}

/* @end */

/* @group Currencies */

ul.currency {
	list-style-type: none;
	margin-left: 0;
}
ul.currency li {
	padding-left: 25px;
	background-position: left center;
	background-repeat: no-repeat;
    margin-bottom: 0.5em;
}
.currency_GBP {
	background-image: url(/static/img/icons/price_GBP.png);		
}
.currency_EUR {
	background-image: url(/static/img/icons/price_EUR.png);		
}
.currency_USD {
	background-image: url(/static/img/icons/price_USD.png);		
}
.currency_YEN {
	background-image: url(/static/img/icons/price_YEN.png);		
}

/* @end */

/* @group Facilities */

.facilities {
	list-style-type: none;
	margin-left: 0;
}
.facilities img {
	margin-right: 5px;
	position: relative;
    top: 3px;
}
.facilities li {
	margin-bottom: 0.5em;
}

.direction_Car {
	background-image: url(/static/img/icons/direction_car.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	min-height: 20px;
}
.direction_Bike {
	background-image: url(/static/img/icons/direction_bike.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	min-height: 20px;
}
.direction_Bus {
	background-image: url(/static/img/icons/direction_bus.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	min-height: 20px;
}

/* @end */

/* @group Suggest Changes */

.suggest-changes {
	background-color: #e2f1f9;
	border: solid 1px #d8e7ef;
	padding: 8px 8px 10px 30px;
	background-image: url(/static/img/icons/suggest.png);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	margin-top: 1em;
}
.suggest-changes a {
	display: block;
}

/* @end */

/* @group Microformats */

p.url {
	margin: 0;
	text-transform: uppercase;
	white-space: nowrap;
}
p.address {
	margin: 0.8571em 0 0;
}
p.tel {
	margin-top: 0;
}

/* @end */

/* @group select replacement */

.replaced {
	display: none;
}
.selectReplacement {
	cursor: pointer;
	background-color: white;
	list-style: none;
	position: relative;
	width: 110px;
	height: 20px;
	margin: 0.5em 0 0 0;
	padding:0;
	background: transparent url(/static/img/icons/starselect.gif) -110px 0 no-repeat;
	overflow: hidden;
}
.selectReplacement li {
	display: inline;
	margin: 0;
	padding: 0;
}
.selectReplacement li a:link,
.selectReplacement li a:visited,
.selectReplacement li a:hover,
.selectReplacement li a:active,
.selectReplacement li a:focus {
	display: block;
	position: absolute;
	width: 22px;
	height: 20px;
	text-indent: -9999px;
	overflow: hidden;
	outline: none;
	left: 0;
}
ul.worst {
	background-position: -88px 0;
}
ul.bad {
	background-position: -66px 0;
}
ul.fair {
	background-position: -44px 0;
}
ul.good {
	background-position: -22px 0;
}
ul.best {
	background-position: 0 0;
}
.selectReplacement li.worst a:link, 
.selectReplacement li.worst a:visited, 
.selectReplacement li.worst a:hover, 
.selectReplacement li.worst a:active, 
.selectReplacement li.worst a:focus {
	left: 0;
	z-index: 6;
}
.selectReplacement li.bad a:link, 
.selectReplacement li.bad a:visited, 
.selectReplacement li.bad a:hover, 
.selectReplacement li.bad a:focus, 
.selectReplacement li.bad a:active {
	left: 22px;
	z-index: 5;
}
.selectReplacement li.fair a:link, 
.selectReplacement li.fair a:visited, 
.selectReplacement li.fair a:hover, 
.selectReplacement li.fair a:focus, 
.selectReplacement li.fair a:active {
	left: 44px;
	z-index: 4;
}
.selectReplacement li.good a:link,
.selectReplacement li.good a:visited,
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus,
.selectReplacement li.good a:active {
	left: 66px;
	z-index: 3;
}
.selectReplacement li.best a:link, 
.selectReplacement li.best a:visited, 
.selectReplacement li.best a:hover, 
.selectReplacement li.best a:focus, 
.selectReplacement li.best a:active {
	left: 88px;
	z-index: 2;
}
.selectReplacement li a:hover,
.selectReplacement li a:focus{
	background: transparent url(/static/img/icons/starselect_single.gif) left top repeat-x;
	left: 0;
}

.selectReplacement li.worst a:hover,
.selectReplacement li.worst a:focus {
	width: 22px;
	left: 0;
}
.selectReplacement li.bad a:hover,
.selectReplacement li.bad a:focus {
	width: 44px;
	left: 0;
}
.selectReplacement li.fair a:hover,
.selectReplacement li.fair a:focus {
	width: 66px;
	left: 0;
}
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus{
	width: 88px;
	left: 0;
}
.selectReplacement li.best a:hover,
.selectReplacement li.best a:focus {
	width: 110px;
	left: 0;
}

/* @end */
