/* @group See  more animals */

div#see-more-animals {
    background-color: #E2F1F9;
}
div#see-more-animals label {
    width: 5em;
    float: left;
}
div#see-more-animals p {
    margin: 0;
}

/* @end */

/* @group Cloud on species page */

.cloud-quad-0 {
    font-size: 1em;
}
.cloud-quad-1 {
    font-size: 1.29em;
}
.cloud-quad-2 {
    font-size: 1.71em;
}
.cloud-quad-3 {
    font-size: 2.14em;
}
.seen {
    color: #cc0000;
    background-color: #ffffff;
}

/* @end */

/* @group Comments */

div.comment {
	border-left: 0.5em solid #ccc;
	padding-left: 0.5em;
}
div.comment .posted-by {
	font-size: 0.85em;
}

/* @end */

/* @group Edit form */

.nested-edit {
  margin-left: 1em;
}

/* @end */

/* @group Currencies */

ul.currency {
	list-style-type: none;
	margin-left: 0;
}
ul.currency li {
	padding-left: 25px;
	background-position: left center;
	background-repeat: no-repeat;
    margin-bottom: 0.5em;
}
.currency_GBP {
	background-image: url(/static/img/icons/price_GBP.png);		
}
.currency_EUR {
	background-image: url(/static/img/icons/price_EUR.png);		
}
.currency_USD {
	background-image: url(/static/img/icons/price_USD.png);		
}
.currency_YEN {
	background-image: url(/static/img/icons/price_YEN.png);		
}

/* @end */

/* @group Facilities */

.facilities {
	list-style-type: none;
	margin-left: 0;
}
.facilities img {
	margin-right: 5px;
	position: relative;
    top: 3px;
}
.facilities li {
	margin-bottom: 0.5em;
}

/* @end */

.suggest-changes {
	background-color: #e2f1f9;
	border: solid 1px #d8e7ef;
	padding: 8px 8px 10px 30px;
	background-image: url(/static/img/icons/suggest.png);
	background-repeat: no-repeat;
	background-position: 5px 9px;
}
.suggest-changes a {
	display: block;
}
