.content {
	background-color: #ffffff;
	width: 100%;
	overflow: hidden;
}

.primary {
    float: left;
    width: 64%;
    border-right: solid 1px #cccccc;
    padding-right: 1%;
}

.secondary {
    float: right;
    width: 34%;    
}
.secondary h2:first-child,
.secondary h3:first-child {
    margin-top: 0;
}

.footer {
	padding-top: 312px;
	background-image: url(/static/img/bg/animals.png);
	background-repeat: no-repeat;
	background-position: top 98%;
    background-color: #ffffff;
    border-top: solid 1em #ffffff;
}
.footer p {
    text-align: center;
    color: #534741;
    background-color: #c6ddab;
    padding: 1em;
    margin: 0;
}
